<h1>{{post.seriesTitle}}</h1>
<h2>{{post.title}}</h2>
<div class="byAndDate">
	<small>by Egill Antonsson<br>
		published on {{publishedDateToString}}<br>
	</small>
</div>
<h2>Create the Unity project</h2>
<p>
	This <a href="https://unity.com">Unity</a> 'game' will demonstrate the FMOD Unity integration and my suggested extensions to it (see the blog post series) for a typical game audio workflow, This 'game' will not be complete as it is not meant to be played as such. The code repository is on <a href="https://github.com/EgillAntonsson/unity-fmod-game-example">GitHub</a>.
</p>
<h2>Integrate FMOD</h2>
<h3>Download</h3>
<p>
	Read the <a href="https://www.fmod.com/docs/2.03/unity/user-guide.html">FMOD Unity integration user guide</a>. Create and FMOD account on go to the <a href="https://www.fmod.com/download">Download page</a>.
</p>
<ol class="list">
	<li>Download and install FMOD Engine</li>
	<li>Download and install the FMOD Studio (latest matching version that is marked with 'Unity Verified')</li>
	<li>Download the FMOD Unity integration package  (latest matching version that is marked with 'Unity Verified') from the FMOD website (thus not from the Unity Asset Store)
		<ul>
			<li>In Unity, go to <code>Assets > Import Package > Custom Package...</code> and select the downloaded package</li>
			<li>In the import dialog, click <code>All</code> and then <code>Import</code></li>
		</ul>
	</li>
</ol>
