<h1>{{post.seriesTitle}}</h1>
<h2>{{post.title}}</h2>
<div class="byAndDate">
	<small>by Egill Antonsson<br>
		published on {{publishedDateToString}}<br>
	</small>
</div>
<p>
	Here's a short video showing how to batch rename events in FMOD Studio via <i>Batch Rename</i> script that comes bundled with FMOD Studio. This is a great way to quickly rename multiple events at once, especially if you have a lot of them and want to keep your project organized. Zoom in or fullscreen the video for better visibility.
</p>
<figure>
	<video controls width="640" height="360" class="image" title="FMOD Batch Rename">
		<source src="../assets/videos/blog-fmod-batch-rename.mp4" type="video/mp4" alt="FMOD Batch Rename">
		Your browser does not support the video tag.
	</video>
	<figcaption>FMOD Batch Rename: Learn how to batch rename events in FMOD Studio using the built-in script.</figcaption>
</figure>
