<h1>{{post.seriesTitle}}</h1>
<h2>{{post.title}}</h2>
<div class="byAndDate">
	<small>by Egill Antonsson<br>
		published on {{publishedDateToString}}<br>
	</small>
</div>
<h2>The Why</h2>
<p>
	Before you start FMOD scripting like there's no tomorrow you should set this to speed up your development cycle. This is because you need to reload to make your script changes take effect.
</p>
<h2>The How</h2>
<p>
	Press <i>Ctrl+Shift+P</i> to open the <i>Preferences</i> window and press the <i>Shortcuts</i> tab. Add a shortcut to Action <i>Scripts: Reload</i>, I recommend <i>Ctrl+R</i> that is available by default.
</p>
<figure>
	<img src="../assets/images/blog/fmod/reload-shortcut.png" alt="Adding 'Scripts: Reload' shortcut in FMOD" title="Adding 'Scripts: Reload' shortcut in FMOD" class="imageSmallTextNoBorder">
	<figcaption>
		Adding <i>Scripts: Reload</i> shortcut in FMOD
	</figcaption>
</figure>
