<div class="allByContainer">
	<div *ngFor="let byTracks of byTracksArr; let byIndex = index">
		<div class="byContainer" (click)="onByClick(byIndex)">
				<div class="byIconContainer">
						<div [ngClass]="{byIcon: true, animateClose: openedUiByIndex != byIndex, animateOpen: openedUiByIndex === byIndex}"></div>
					</div>
			<span>{{byTracks.by}}</span>
		</div>
		<div class="trackContainer fadein" *ngIf="openedUiByIndex === byIndex">
			<div [ngClass]="{track: track.name === selectedTrack.name}" *ngFor="let track of byTracks.tracks" (click)="onTrackClick(track)">
				{{track.name}}
			</div>
		</div>
	</div>
</div>

<div class="button" (click)="stopMusic()">stop music
</div>
<div *ngIf="selectedLayeredMusic" class="button" (click)="incrementMusicLayerValue()">{{layerText}}</div>

<div>
<canvas #canvas0 class="canvas"></canvas>
<canvas #canvas1 class="canvas"></canvas>
<canvas #canvas2 class="canvas"></canvas>
<canvas #canvas3 class="canvas"></canvas>
</div>


<div class="gainOuterContainer">
	<div class="labelContainer"><label>Music Volume</label></div>
	<div class="muteOuterContainer" (click)="onMusicMuteChange()">
		<div class="muteInnerContainer">
				<div [ngClass]="{mute: musicMuted, unmute: !musicMuted, muteDisabled: gainsDisabledForView && musicMuted,  unmuteDisabled: gainsDisabledForView && !musicMuted}"></div>
		</div>
	</div>
	<div class="sliderContainer">
		<div class="slider">
			<ng5-slider [(value)]="musicGain" [options]="optionsMusicGain" (userChange)="onMusicGainChange($event)"></ng5-slider>
		</div>
	</div>
</div>

<div class="gainOuterContainer">
		<div class="labelContainer"><label>SFX Volume</label></div>
	<div class="muteOuterContainer" (click)="onSfxMuteChange()">
		<div class="muteInnerContainer">
				<div [ngClass]="{mute: sfxMuted, unmute: !sfxMuted, muteDisabled: gainsDisabledForView && sfxMuted,  unmuteDisabled: gainsDisabledForView && !sfxMuted}"></div>
		</div>
	</div>
	<div class="sliderContainer">
		<div class="slider">
			<ng5-slider [(value)]="sfxGain" [options]="optionsSfxGain" (userChange)="onSfxGainChange($event)"></ng5-slider>
		</div>
	</div>
</div>

<div class="gainOuterContainer">
		<div class="labelContainer"><label>Master Volume</label></div>
	<div class="muteOuterContainer" (click)="onMasterMuteChange()">
		<div class="muteInnerContainer">
				<div [ngClass]="{mute: masterMuted, unmute: !masterMuted, muteDisabled: gainsDisabledForView && masterMuted,  unmuteDisabled: gainsDisabledForView && !masterMuted}"></div>
		</div>
	</div>
	<div class="sliderContainer">
		<div class="slider">
			<ng5-slider [(value)]="masterGain" [options]="optionsMasterGain" (userChange)="onMasterGainChange($event)"></ng5-slider>
		</div>
	</div>
</div>

<br><br>
<a class="tribute" href="https://icons8.com/icon/102034/mute">Mute icon by Icons8</a><br>
<a class="tribute" href="https://icons8.com/icon/108731/sound">Sound icon by Icons8</a>
