<div class="treeContainer">
	<div *ngFor="let byTrack of byTracks; let byIndex = index">
		<div class="branchContainer" (click)="onByClick(byIndex)">
				<div class="branchIconContainer">
						<div [ngClass]="{branchIcon: true, branchAnimateClose: openedUiByIndex != byIndex, branchAnimateOpen: openedUiByIndex === byIndex}"></div>
					</div>
			<span>{{byTrack.by}}</span>
		</div>
		<div class="nodeContainer NodeFadeIn" *ngIf="openedUiByIndex === byIndex">
			<div [ngClass]="{nodeSelected: track.name === selectedTrack.name}" *ngFor="let track of byTrack.tracks" (click)="onTrackClick(track)">
				{{track.name}}
			</div>
		</div>
	</div>
</div>

<div>
<canvas #canvas0 class="canvas"></canvas>
<canvas #canvas1 class="canvas"></canvas>
<canvas #canvas2 class="canvas"></canvas>
<canvas #canvas3 class="canvas"></canvas>
</div>

<br><br>
<a class="tribute" href="https://icons8.com/icon/102034/mute">Mute icon by Icons8</a><br>
<a class="tribute" href="https://icons8.com/icon/108731/sound">Sound icon by Icons8</a>
