.playerContainer {
	position: fixed;
	cursor: pointer;
	border: 1px solid var(--colorGrayLightMed);
	border-radius: 1em;
	padding-top: 9px;
	padding-bottom: 7px;
	z-index: 2;
	transform: translateY(40px);
	width: 90%;
}

.trackName {
	text-align: center; /* doesn't work? */
}

.playIconContainer {
	float: left;
	transform: translateY(3px);
	padding-left: 3.5%;
	width: 8%;
	height: 23px;
}

.stopped {
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
	background: var(--colorWhiteLightMed);
	width: 23px;
	height: 15px;
	transform: translateX(-10%) translateY(10%) rotate(90deg);
	transition: all 0.2s;
}

.loading {
	width: 16px;
	height: 16px;
	background-color: var(--colorWhiteLightMed);
	transform: translate(8%, 4%);
	transition: all 0.2s;
	animation: rotationFastReverse 0.5s infinite linear;
}

@keyframes rotationFastReverse {
	from {transform: rotate(0deg);}
	to   {transform: rotate(359deg);}
}

.playing {
	width: 16px;
	height: 16px;
	background-color: var(--colorWhiteLightMed);
	transform: translate(8%, 4%);
	animation: rotation 3s infinite linear;
	transition: all 0.2s;
}

@keyframes rotation {
	from {transform: rotate(0deg);}
	to   {transform: rotate(-359deg);}
}

.nextContainer {
	float: left;
	height: 16px;
	transform: translateY(5px);
	padding-right: 5%;
}

.next_triangle {
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
	background: var(--colorWhiteLightMed);
	width: 16px;
	height: 10px;
	transform: translateX(-10%) translateY(10%) rotate(90deg);
}

.next_line {
	width:  10px;
	height: 16px;
	border-right: 3px solid var(--colorWhiteLightMed);
	transform: translateY(-12px);
}

.playerRightButtonsContainer {
	float: right;
	padding-right: 3.5%;
	width: 50px;
}

.shuffleContainer {
	float: left;
	height: 16px;
	transform: scaleX(0.8);
}

.shuffle {
	width: 22px;
	height: 22px;
	display: block;
	transform: translateY(-1px);
}

.shuffleOn {
	background:transparent url('/assets/shuffle-on.svg') center top no-repeat;
}

.shuffleOff {
	background:transparent url('/assets/shuffle-off.svg') center top no-repeat;
}


.timer {
	float: right;
	padding-right: 2.5%;
	padding-top: 1.5px; /*magic number*/
}

ul {
	list-style: none;
	cursor: pointer;
}

.artworkContainer {
	float: right;
	width: 50%;
	margin-top: 2em;
	margin-bottom: 2em;
}

.artworkImage {
	width: 100%;
	max-width: 500px;
	border-radius: 5%;
	display: block;
	margin: 0 auto;
}

.buttonRow {
	float: right;
	width: 100%;
}

.button {
	background: var(--colorGreyDark);
	color: #ccc;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	height: 2em;
	margin-right: 5%;
	float: right;
	border: 1px solid #999;
	border-radius: 0.5em;
	cursor: pointer;
	transition-duration: 0.4s;
}

.button:hover {
	background: var(--colorPending);
	border-color: var(--colorPending);
	color: var(--colorBlackLight);
}

.button a {
	transition-duration: 0.4s;
}

/* hover needs to be on .button instead of .scLogo so that change also occurs when pointer is inside of button but outside of href */
.button:hover a {
	background:transparent url('/assets/soundcloud_black.png') center top no-repeat;
}

.button:active {
	background: var(--colorActive);
	border-color: var(--colorActive);
}

.trackDescription {
	float: left;
}

.byBio {
	float: right;
}

.gainOuterContainer {
	height: 71px;
	margin-top: 1.3em;
}

 .muteAndSliderContainer {
	width: 40%;
	height: 24px;

	/* float: left;
	width: 100%; */
}

.muteContainer {
	/* float: left; */
	transform: translateY(-8%);
	transform: translateX(25px);
	display: block;
	padding-left: 3.5%;
}

.sliderContainer {
	width: 65%;
	padding-right: 3.5%;
	float: right;
	position: relative;
	transform: translateY(-49px);
}

.mute {
	width: 24px;
	height: 24px;
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAABS0lEQVRIie2UPU7DQBCFv9mkQBwgDVA5BYWpOAASFg0/1+AGEU5BoEssXwBuQcGPhGQKSiQqXIBkd1S5QrCHInLkBOR4IRJCyutmNPPe25nRwhL/BknAaTrgzbavWaco7XOOcmZvC0wtcvkZ+VyB35JDxYjmkad9HhFWtcF+u8MQIAlpmZwrVUaOz86UQDrgALgE1mpZE1aAbcmJkhAPQHIiVVzg6bsXXNQmB7TBoeREKK7kROMkLkKshqOirryD9brkAO0OwzxjF3hBcRk7fzXCXjGyWYGFQEZIOS4LvNsQJSEt0+AB2EKIEWJgM2tyn4S0vggoHNuISMZNaeaeGjyEGMWVjOuibrLkts8dsFHE885U4UPgWc3UmXqScauQTYxUuUz7nCAMyjnHr+6ZReWSnS4Bim9DaCWwCJFaZ+p0CVTogf13vcTf4xMPJ2kt0pqBpgAAAABJRU5ErkJggg==")
}

.unmute {
	width: 24px;
	height: 24px;
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAA5klEQVRIie2TQQ7BUBRFzxO7IJbByJjWQuxBgqQ2IfZBfHMD7dzEVCzDM1I/pe1/IhGJM2vTf3tu3n/w52fYZdHEZfHReq4ZFJ5GU1VJQr51abxXleuwt+4DNILCCQsHUJWriOr9Wazhg+7m6UzR2qe0gcW8aO2T27gsilBZAp2qsHuDKmufx5BVVkA7xLjO+vUPDOEAvrnfxnyLQvDblN4il8ZnoFUXZp1B3kBVxqCXd6yrKN2DbTpKBJ0W339sD4bd9UyRRZ0hBO5BGcUmrxr4mG+RpQmEz+bZLIvn7jA6mQ/++To3A0mcQN4dZgYAAAAASUVORK5CYII=")
}

.muteDisabled {
	width: 24px;
	height: 24px;
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAABVUlEQVRIie2UvUrDUBiGnxPSIF5AF3V3iJMXIBhc/LmE1k3oYLsYdPFntJypXaKj6Q04+ANCHRwFJzvo7tQ7MG39XJISK6Q5WBGhLxxCDuc875vv+whM9W+kGxeHuhG+mt6zc8JPQB0bpwKs34SPNfgpHDJKNA6uG+EDqFkcWfcr5S6ADsIiPS4R1fNrpZUvBrrZ2kDkHJjLGW4GZJmItg5CD4CINuAq5PH7F4icGcDBYTMBxk8AF+iIw1ZyLN2D+dxwwK+Uuz3VXxV4jsEu8CL2YC0p2ajBRFSIbJV+Txu8mYB0EBYLYt8rWAI68VrsW3Kng7D4zUBZsmNk8s41cc1x8HDwYhOXiKvk2LDJe7vbt8DCMOGYMRUlfYX1NDKmHpG6ET4Gw+BZIXWztY/IaXrPr5Uz74wqs8l+tVRHqQMToJHBJExyjalfLdVBjgDj3/VUf69PUIJ04GzYQ0wAAAAASUVORK5CYII=")
}

.unmuteDisabled {
	width: 24px;
	height: 24px;
	background: url(
	"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAA50lEQVRIie2TPQrCQBCFvxVvoXgTD+AhTGuZKo0QBe1cC6ON2JmcxSvY2IrHyNqYuIn52RFBBL9uw8zLe8wM/PkZVptkqqP4LO3ruhTp6BiCWbjVxicgDXxvCNBxE1dO4g9SwGQPJRUPfO+lp+zapjaB0HnBtU3uZr07jkyq9sCgSSlL0OTaJh+ySdUB6Ds6hgbXlT8QimM7t9OIt8gRO031FukovgK9NiXpDJ4JlJqAub3pupbaO9BRsgATlr9/7A4CfzwDtWxz+KD9DuooJ6lKUKwXbpEwCTjOpsJZMtfb+CJu/PN17hYIbgHrvkxYAAAAAElFTkSuQmCC")
}

@media screen and (max-width: 451px) {
	.sliderContainer {
		display: none;
	}
	.artworkContainer {
		float: left;
		width: 100%;
		margin-top: 0;
	}
}

@media screen and (min-width:  452px) and (max-width: 703px) {
	.playerRightButtonsContainer {
		padding-right: 0%;
		width: 40%;
		height: 24px;
	}
	.artworkContainer {
		width: 45%;
		margin-right: 5%;
	}
}

@media screen and (min-width: 704px) and (max-width: 1053px) {
	.playerContainer {
		margin: 0 5%;
		width: 80%;
	}
	.playerRightButtonsContainer {
		padding-right: 0%;
		width: 40%;
		height: 24px;
	}
	.artworkContainer {
		width: 40%;
		margin-right: 10%;
	}
	.buttonRow {
		margin-right: 5%;
	}
}

@media screen and (min-width: 1054px) and (max-width: 1403px) {
	.playerContainer {
		margin: 0 10%;
		width: 70%;
	}
	.playerRightButtonsContainer {
		padding-right: 0%;
		width: 40%;
		height: 24px;
	}
	.artworkContainer {
		width: 35%;
		margin-right: 15%;
	}
	.buttonRow {
		margin-right: 10%;
	}
}

@media screen and (min-width: 1404px) {
	.playerContainer {
		margin: 0 15%;
		width: 60%;
	}
	.playerRightButtonsContainer {
		padding-right: 0%;
		width: 40%;
		height: 24px;
	}
	.artworkContainer {
		width: 30%;
		margin-right: 20%;
	}
	.buttonRow {
		margin-right: 15%;
	}
}
