<div class="playerContainer">
	<span class="playIconContainer" (click)="onPlayStop()">
		<div [ngClass]="{playing: playState === 'Playing', loading: playState === 'Loading', stopped: playState === 'Stopped'}"></div>
	</span>
	<span class="nextContainer" (click)="onNext()">
		<div class="next_triangle"></div>
		<div class="next_line"></div>
	</span>
	<span class="trackName">{{selectedTrack.name}}</span>
		<span class="playerRightButtonsContainer">
		<span class="shuffleContainer" (click)="onShuffle()">
			<div class="shuffle" [ngClass]="{shuffleOn: isShuffle, shuffleOff: !isShuffle}"></div>
		</span>
		<span class="muteContainer" (click)="onMasterMuteChange()">
			<div [ngClass]="{mute: masterMuted, unmute: !masterMuted, muteDisabled: gainsDisabled && masterMuted,  unmuteDisabled: gainsDisabled && !masterMuted}"></div>
		</span>
		<span class="sliderContainer">
			<span class="slider">
			<ngx-slider [(value)]="masterGain" [options]="optionsMasterGain"></ngx-slider>
			</span>
			</span>
	</span>
</div>
