<div>
<h2>Progressing on my path to lift the Platinum Dragon!</h2>
<p>
During the period {{firstDate | date: 'd. MMMM yyyy'}} - {{lastDate | date: 'd. MMMM yyyy'}}:
</p>
<table>
	<tr>
		<th>Tons lifted</th>
		<th>Creatures lifted</th>
	</tr>
	<tr>
		<td class="center">{{totalKgLifted | mynumber: 3:'/':1000}}</td>
		<td>
			<ul>
				<li *ngFor="let item of totalCreaturesLifted">
					{{item.count}}x  <a href="{{item.creature.url}}">{{item.creature.name}}</a> ({{item.creature.kg | mynumber: 1}} kg{{item.count > 1 ? ' each' : ''}})
				</li>
			</ul>
		</td>
	</tr>
</table>
<p>
	I use <a href="https://play.google.com/store/apps/details?id=com.github.jamesgay.fitnotes&hl=en">FitNotes</a> app to log my lifting,<br>
	and export the log from it and use it for the above calculation.<br>
	No creatures were hurt during the lifting :)
</p>
</div>
<div>
	<h1>Kg to Creatures converter</h1>
	<div class="converter">
  <form [formGroup]="convertForm" novalidate>
			<div>
					<input class="convertInput" type="number" formControlName="inputKg" (input)="inputEvent()" [maxlength]="16">
			</div>
			<sub>kg number in text field is converts to below:</sub><br>
			<div *ngIf="inputKgControl.invalid" class="alert">
				<div *ngIf="this.inputKgControl.errors?.pattern">
					Only numbers are allowed (and ' . ' for fraction)
				</div>
				<div *ngIf="this.inputKgControl.errors?.max">
					number is too big, reduce it
				</div>
				<div *ngIf="this.inputKgControl.errors?.min">
					number is to small, increase it
				</div>
			</div>
  </form>
	</div>
	<table *ngIf="convertResult.length > 0">
		<tr>
			<th>KGs</th>
			<th>Creatures</th>
		</tr>
		<tr>
			<td class="center">{{convertLastInputSubmit}}</td>
			<td>
				<ul>
					<li *ngFor="let item of convertResult">
						{{item.count}}x  <a href="{{item.creature.url}}">{{item.creature.name}}</a> ({{item.creature.kg | mynumber: 1 }} kg {{item.count > 1 ? ' each' : ''}})
					</li>
				</ul>
			</td>
		</tr>
	</table>
	<p>
		The sources for the creature weight list:<br>
		<a href="http://forgottenrealms.wikia.com/wiki/Metallic_dragon">Metallic dragons of the Forgotten Realms</a><br>
		<a href="https://en.wikipedia.org/wiki/Dinosaur_size">Dinosaur size</a><br>
		<a href="https://thewebsiteofeverything.com/animals/mammals/adult-weight.html">Adult mammals weight</a>
	</p>
</div>
<div>
<figure>
	<img src="../assets/Egill_Antonsson_against_the_dragon_breath.jpg" alt="Egill Antonsson dealing with the the dragon's breath by wearing sunglasses" title="Egill Antonsson dealing with the the dragon's breath" class="image">
	<figcaption>Egill Antonsson dealing with the the dragon's breath</figcaption>
</figure>
</div>
<div>
<h2>The beginning of my strength & hyperthropy journey</h2>
<h3>The first workout</h3>
<p>
	I've been lifting weights off and on since I was a 15 year old boy living in Reykjavík, Iceland in 1997.<br>
	My first gym workout was with my friend Mummi who was training kick boxing and also hitting the gym to some extend at the time.<br>
	I'd like to think that he'd forgotten that this was my first workout ever and told me "Today we are going to DESTROY the Biceps!".<br>
	I replied enthustically "Sounds great!", and then we went on taking many sets to failure with many forced reps.<br>
	Little did I know that this would leave me so sore that even the lightest bump in the arms would be agonisingly painful for a WEEK!<br>
	This was a lesson learned for both me and Mummi in how not to begin your training.
</p>
<h3>The first years</h3>
<p>
	Although my first workout took weeks to recover from, I was eager to continue training for the next 3 to 4 years.<br>
	I frequently worked out in the gym called Gym 80 with my friend and lifting partner Kalli (Mummi was more into kick boxing).<br>
</p>
<p>
	Gym 80 was founded by <a href="https://en.wikipedia.org/wiki/Jón_Páll_Sigmarsson">Jón Páll Sigmarsson</a> who was the first man in history to win the World Strongest Man four times.<br>
	He is a big inspiration to me as he was the first Icelandic athlete to be the best in the world in a sport, along being charismatic and entertaining.<br>
	My parents knew Jón's dad and they took a photo of Jón and me when I was around 6 years old.
In 1987 while making a strongman world record Deadlift of 523 kg, Jón shouted <a href="https://vimeo.com/57172348">"There is no reason to be alive if you can't do deadlift!"</a>,<br>
and as fate would have it he died in 1993, 32 years of age, of cardiac arrest due to an aortic rupture while deadlifting in his gym.<br>
So 5 years later me and Kalli were Deadlifting, Squatting and Bench Pressing at the very same spot where Jón Páll Sigmarsson the Legend had died.<br>
<!-- There were also alive legends that came to train at Gym 80 and the largest one was <a href="https://en.wikipedia.org/wiki/Magnús_Ver_Magnússon">Magnús Ver Magnússon</a> who also won the World Strongest Man four times (1991, 1994, 1995 and 1996).<br>
I didn't see him often at the gym but when he appeared and trained, it was a sight to see.<br>
Me and kalli educated ourselves by all means possible, buying	 -->
</p>
</div>
<div>
	<figure>
		<img src="../assets/Egill_Antonsson_and_Jon_Pall_Sigmarsson.jpg" alt="Egill Antonsson and Jón Páll Sigmarsson circa 1988" title="Jón Páll Sigmarsson and Egill Antonsson circa 1988" class="image">
		<figcaption>Jón Páll Sigmarsson and Egill Antonsson circa 1988. We're both wearing fashionable 80s outfits</figcaption>
	</figure>
</div>
