<!-- <h1>TDD-ing Avatar Health in C# via Unity</h1> -->
<h1>{{post.seriesTitle}}</h1>
<h2>{{post.title}}</h2>
<small>by Egill Antonsson, published on {{post.dateYear}} {{post.dateMonth}} {{post.dateDay}}</small>

<h2>What is TDD ?</h2>
<p>
	TDD is a workflow approach and the heart of it is the <a href="http://www.jamesshore.com/v2/blog/2005/red-green-refactor">Cycle: RED / GREEN / REFACTOR</a>
</p>
<ol>
	<li><span class="redFail">RED:</span> Write a test that fails</li>
	<li><span class="greenPass">GREEN:</span> Get the test to Pass, with minimal effort (all tests passing)</li>
	<li><span class="greenRefactor">REFACTOR:</span> Clean up the structure and design (all tests passing)</li>
</ol>
<p>The cycle should focus on fulfilling a specific requirement on the object under test at a time,<br>
	cycling through to the point when confidence is gained that the production code is generic enough to handle all input cases.<br>
	At some interval you should stop and check if the code architecture on a wholistic level is still sound, and refactor if needed (all test passing).<br>
	Uncle Bob elaborates additional cycles around RED / GREEN / REFACTOR in his <a href="https://blog.cleancoder.com/uncle-bob/2014/12/17/TheCyclesOfTDD.html">The Cycles of TDD</a> post.
</p>

<h2>Why do TDD ?</h2>
<ul>
	<li>Ensures you'll have a passing test suite with high code coverage that runs fast (within seconds or minutes),<br>
		therefore you can clean the code without fear of breaking anything, thus always have confidence in the product quality, thus can ship it without fear.<br></li>
	<li>Writing tests first requires beneficial decoupling (that other testing strategies do not)</li>
	<li>Spend less time debugging.</li>
	<li>The tests act as accurate, precise, and unambiguous documentation at the lowest level of the system.</li>
</ul>
<p>
	There are also criticisms on TDD, e.g. the post <a href="https://dhh.dk/2014/tdd-is-dead-long-live-testing.html">TDD is dead. Long live testing.</a> but also responses to it, e.g the post <a href="https://blog.cleancoder.com/uncle-bob/2014/04/25/MonogamousTDD.html">Monogamous TDD</a>.
</p>

<h2>Does TDD work for all scenarios ?</h2>

<h3>Boundary layers</h3>
<p>
	Bulk of my work experience has centered around games (front-end game developer, developing shared systems for games)<br>
	and a big part of a game is the graphic visuals and UI, user input, and sound.<br>
	Should those parts be unit tested via TDD ?<br>
	These parts can be described as layers close to the physical output/input boundaries.
	We should design these boundary layers to be <a href="http://xunitpatterns.com/Humble%20Object.html">Humble</a>.<br>
	by moving all the logic associated with them out into other modules for which we can easily write unit tests.<br>
	Bulk of the logic is likely the domain logic that should be in the domain layer and not be coupled with any boundaries (thus easily unit testable).<br>
	The edges of the boundary layers can be manually tested, e.g. seeing that the visuals drawn on screen properly.<br>
	There likely comes a point where automating testing the boundary layers provides value, and the <a href="https://martinfowler.com/articles/practical-test-pyramid.html">Test Pyramid</a> could guide you with that.
</p>

<h3>Untested and design-rusted code bases</h3>
<p>
	Some code bases have been developed for some time where unit tests were never written.<br>
	Such code bases leave the door open for bad code design to creep up along the way (although keeping up great design standard can prevent this).<br>
	One example could be that too many <a href="https://medium.com/aia-sg-techblog/why-singleton-pattern-is-considered-as-anti-design-pattern-c81dd8b7e757">Singletons</a> have been defined and used,<br>
	which feeds into the bigger issue of code being too <a href="https://en.wikipedia.org/wiki/Coupling_(computer_programming)">tightly coupled</a> / highly dependant.<br>
	By contrast a well and thoroughly tested code base pushes for, and to some degree enforces, the 'counter' good design<br>
	e.g <a href="https://effectivesoftwaredesign.com/2012/02/05/separation-of-concerns/">Separation of Concerns (SoC)</a>, <a href="https://www.geeksforgeeks.org/solid-principle-in-programming-understand-with-real-life-examples/">Solid principles</a>.<br>
	One of the negative consequence of the design rusted and untested code base is that it's very hard to start writing <a href="https://livebook.manning.com/book/the-art-of-unit-testing-third-edition/chapter-1/v-6/125">good unit tests</a>, and even harder via TDD, 'that late in the game'.<br>
	<br>
	To get such a code base into a state where it's effortless to apply and continue with TDD,<br>
	it could be done with a gradual approach:
</p>
<ul>
	<li>Functional requirements (adding, improving, changing) continue to be done with some form of deadline pending</li>
	<li>Focus on adding <a href="https://livebook.manning.com/book/the-art-of-unit-testing-third-edition/chapter-1/v-6/125">great or good unit tests</a>, not necessarily with Test-First approach</li>
	<li>Fixing bugs provides good opportunity to apply TDD approach (write a test that fails due to the bug, fix the production code that passes the test)</li>
	<li>for other functionality, try to squeeze in a couple of tests</li>
	<li>Gradually refactor the design, ideally having sufficient tests to catch any breakages early</li>
	<li>Thus the test coverage gradually nudges upwards (going downwards is not acceptable).<br>
</ul>
<p>
	Another alternative	would be to dedicate a time period to focus only on refactoring the design<br>
	and write <a href="https://livebook.manning.com/book/the-art-of-unit-testing-third-edition/chapter-1/v-6/125">great unit tests</a>, thus improve the test coverage dramatically.
</p>
