.redFail {
	color: var(--colorOrangeMed);
}

.greenPass {
	color: var(--colorGreenLight);
}

.greenRefactor {
	color: var(--colorGreenLightMed);
}

.outOfScope {
	color: var(--colorGrayLight);
	font-style: italic;
}

.commentForm {
	padding: 1em;
}

.commentInput {
	width: 300px;
}
