
<div class="allByContainer">
	<div *ngFor="let series of blogSeries; let seriesIndex = index">
		<div class="byContainer" (click)="onSeriesClick(seriesIndex)">
				<div class="byIconContainer">
						<div [ngClass]="{byIcon: true, animateClose: openedUiSeriesIndex != seriesIndex, animateOpen: openedUiSeriesIndex === seriesIndex}"></div>
					</div>
			<span>{{series.title}}</span>
		</div>
		<div class="trackContainer fadein" *ngIf="openedUiSeriesIndex === seriesIndex">
			<div [ngClass]="{selectedTrack: post === selectedPost}" *ngFor="let post of series.posts" (click)="onPostClick(post)">
				{{post.title}}
			</div>
		</div>
	</div>
</div>

 <ng-container *ngIf="selectedPost.component === 'tdd-1'">
	<app-post-tdd-1></app-post-tdd-1>
 </ng-container>
 <ng-container *ngIf="selectedPost.component === 'tdd-2'">
	<app-post-tdd-2></app-post-tdd-2>
 </ng-container>
 <ng-container *ngIf="selectedPost.component === 'tdd-3'">
	<app-post-tdd-3></app-post-tdd-3>
 </ng-container>

 <hr>

 <div class="allByContainer">
	<div *ngFor="let series of blogSeries; let seriesIndex = index">
		<div class="byContainer" (click)="onSeriesClick(seriesIndex)">
				<div class="byIconContainer">
						<div [ngClass]="{byIcon: true, animateClose: openedUiSeriesIndex != seriesIndex, animateOpen: openedUiSeriesIndex === seriesIndex}"></div>
					</div>
			<span>{{series.title}}</span>
		</div>
		<div class="trackContainer fadein" *ngIf="openedUiSeriesIndex === seriesIndex">
			<div [ngClass]="{selectedTrack: post === selectedPost}" *ngFor="let post of series.posts" (click)="onPostClick(post)">
				{{post.title}}
			</div>
		</div>
	</div>
</div>
