<h1>{{post.seriesTitle}}</h1>
<h2>{{post.title}}</h2>
<div class="byAndDate">
	<small>by Egill Antonsson<br>
		published on {{publishedDateToString}}<br>
	</small>
	<small *ngIf="hasUpdatedDate">
		updated on {{updatedDateToString}}
	</small>
</div>
<p>
	<a href="https://en.wikipedia.org/wiki/Jón_Páll_Sigmarsson">Jón Páll Sigmarsson</a> who was the first man in history to win the World Strongest Man four times. He is a big inspiration to me as he was the first Icelandic athlete to be the best in the world in a sport, along being charismatic and entertaining. My parents knew Jón's dad and they took a photo of Jón and me when I was around 6 years old.
</p>
<figure>
	<img src="../assets/images/lifting/Jon_Pall_Sigmarsson_and_Egill_Antonsson.jpg" alt="Jón Páll Sigmarsson and Egill Antonsson circa 1988" title="Jón Páll Sigmarsson and Egill Antonsson circa 1988" class="image">
	<figcaption>Jón Páll Sigmarsson and Egill Antonsson circa 1988, both wearing fashionable 80s outfits</figcaption>
</figure>
<p>
	In 1987 while Deadlifting 455 kg (his final lift was 523 kg), Jón shouted <a href="https://www.youtube.com/watch?v=ZWUcHKAj_tc">"There is no reason to be alive if you can't do Deadlift!"</a>, and as fate would have it he died in 1993, 32 years of age, while Deadlifting in his gym, but his spirit lives on in the hearts of many.
</p>
