<h1>{{post.seriesTitle}}</h1>
<h2>{{post.title}}</h2>
<div class="byAndDate">
	<small>by Egill Antonsson<br>
		published on {{publishedDateToString}}<br>
	</small>
	<small *ngIf="hasUpdatedDate">
		updated on {{updatedDateToString}}
	</small>
</div>
<h1>Kg to Creatures converter</h1>
<div class="converter">
<form [formGroup]="convertForm" novalidate>
		<div>
				<input class="convertInput" type="number" formControlName="inputKg" (input)="inputEvent()" [maxlength]="16">
		</div>
		<sub>kg number in text field is converts to below:</sub><br>
		<div *ngIf="inputKgControl.invalid" class="alert">
			<div *ngIf="inputKgControl.errors?.pattern">
				Only numbers are allowed (and ' . ' for fraction)
			</div>
			<div *ngIf="inputKgControl.errors?.max">
				number is too big, reduce it
			</div>
			<div *ngIf="inputKgControl.errors?.min">
				number is to small, increase it
			</div>
		</div>
</form>
</div>
<table *ngIf="convertResult.length > 0">
	<tr>
		<th>KGs</th>
		<th>Creatures</th>
	</tr>
	<tr>
		<td class="center">{{convertLastInputSubmit}}</td>
		<td>
			<ul>
				<li *ngFor="let creatureLifted of convertResult" [innerHTML]="creatureLifted.render()">
				</li>
			</ul>
		</td>
	</tr>
</table>
<p>
	The sources for the creature weight list:<br>
	<a href="http://forgottenrealms.wikia.com/wiki/Metallic_dragon">Metallic dragons of the Forgotten Realms</a><br>
	<a href="https://en.wikipedia.org/wiki/Dinosaur_size">Dinosaur size</a><br>
	<a href="https://thewebsiteofeverything.com/animals/mammals/adult-weight.html">Adult mammals weight</a>
</p>
<h2>Progressing on my path to lift the Platinum Dragon!</h2>
<p>
Here is my personal progress during the period {{firstDate | date: 'd. MMMM yyyy'}} - {{lastDate | date: 'd. MMMM yyyy'}}:
</p>
<table>
	<tr>
		<th>Tons lifted</th>
		<th>Creatures lifted</th>
	</tr>
	<tr>
		<td class="center">{{totalKgLifted | mynumber: 3:'/':1000}}</td>
		<td>
			<ul>
				<li *ngFor="let creatureLifted of totalCreaturesLifted" [innerHTML]="creatureLifted.render()">
				</li>
			</ul>
		</td>
	</tr>
</table>
<p>
	I use <a href="https://play.google.com/store/apps/details?id=com.github.jamesgay.fitnotes&hl=en">FitNotes</a> app to log my lifting,<br>
	and export the log from it and use it for the above calculation.<br>
	No creatures were hurt during the lifting :)
</p>
<figure>
	<img src="../assets/images/lifting/Egill_Antonsson_against_the_dragon_breath.jpg" alt="Egill Antonsson dealing with the the dragon's breath by wearing sunglasses" title="Egill Antonsson dealing with the the dragon's breath" class="image">
	<figcaption>Egill Antonsson dealing with the the dragon's breath</figcaption>
</figure>
