<h1>{{post.seriesTitle}}</h1>
<h2>{{post.title}}</h2>
<div class="byAndDate">
	<small>by Egill Antonsson<br>
		published on {{publishedDateToString}}<br>
	</small>
	<small *ngIf="hasUpdatedDate">
		updated on {{updatedDateToString}}
	</small>
</div>

<div [innerHTML]="usingUnity('https://github.com/EgillAntonsson/tdd-avatar-health-in-unity')"></div>

<div [innerHTML]="setup"></div>

<div [innerHTML]="requirements"></div>

<h2>Health Points starting value</h2>
<h3><span class="redFail">RED (does not compile)</span></h3>
<div [innerHTML]="redDoesNotCompileStartingValue()"></div>
<pre><code [highlight]="codeTestRedDoesNotCompileStartingValue()"></code></pre>
<div [innerHTML]="redAfterDoesNotCompileStartingValue()"></div>

<h3><span class="redFail">RED (test fails)</span></h3>
<div [innerHTML]="redStartingValue1()"></div>
<pre><code [highlight]="codeTestRedStartingValue()"></code></pre>
<div [innerHTML]="redStartingValueImg()"></div>
<div [innerHTML]="redStartingValue2()"></div>

<h3><span class="greenPass">GREEN</span></h3>
<div [innerHTML]="greenStartingValue()"></div>
<pre><code [highlight]="codeImplGreenStartingValue()"></code></pre>

<h3><span class="greenRefactor">REFACTOR</span></h3>
<div [innerHTML]="greenStartingValue1()"></div>
<div [innerHTML]="greenStartingValue2()"></div>
<pre><code [highlight]="codeTestRefactorStartingValue()"></code></pre>

<div [innerHTML]="greenStartingValue3()"></div>
<pre><code [highlight]="codeImplRefactorStartingValue()"></code></pre>

<h2>Handle invalid <span class="code">StartingPoints</span> values</h2>
<div [innerHTML]="invalidStartingPoints()"></div>

<h3><span class="redFail">RED</span></h3>
<div [innerHTML]="redInvalidStartingPoints1()"></div>
<pre><code [highlight]="codeTestRedInvalidStartingPoints()"></code></pre>
<div [innerHTML]="redInvalidStartingPoints2()"></div>
<div [innerHTML]="testNamingConvention()"></div>

<h3><span class="greenPass">GREEN</span></h3>
<pre><code [highlight]="codeImplGreenInvalidStartingPoints()"></code></pre>
<div [innerHTML]="greenInvalidStartingPoints()"></div>

<h3><span class="greenRefactor">REFACTOR</span></h3>
<pre><code [highlight]="codeImplRefactorInvalidStartingPoints()"></code></pre>
<div [innerHTML]="refactorInvalidStartingPoints()"></div>

<h2>Testing more values for verification</h2>
<div [innerHTML]="testingMoreValues()"></div>

<h3><span class="greenRefactor">REFACTOR</span></h3>
<div [innerHTML]="parameterizedRefactor1()"></div>
<div [innerHTML]="parameterizedRefactor2()"></div>
<pre><code [highlight]="codeTestRefactorParameterized()"></code></pre>
<div [innerHTML]="parameterizedRefactor3()"></div>
<div [innerHTML]="parameterizedRefactorImg()"></div>
