<h1>{{post.seriesTitle}}</h1>
<h2>{{post.title}}</h2>
<div class="byAndDate">
	<small>by Egill Antonsson<br>
		published on {{publishedDateToString}}<br>
	</small>
	<small *ngIf="hasUpdatedDate">
		updated on {{updatedDateToString}}
	</small>
</div>
<h2>Using Visual Studio</h2>
<p>
	I'll use <a href="https://visualstudio.microsoft.com">Visual Studio</a> (VS) and the whole project is on <a href="https://github.com/EgillAntonsson/tdd-avatar-health-in-unity">GitHub</a> (including the VS project files). I'm using the free VS <i>Community</i> edition which is sufficient for this blog series, but it's worth mentioning that the paid <i>Enterprise</i> edition includes the productivity feature <i>Live Unit Testing</i> which provides real-time feedback directly in the editor, which is convenient for the TDD cycles, other test related features e.g. <i>Code Coverage</i>. Using the <i>Community</i> edition I'll need to manually trigger the test run (and Code Coverage will not be the focus of this blog series).
</p>

<h2>Using Google Test</h2>
<p>
	I'll use <a href="http://google.github.io/googletest/">Google Test</a> framework as VS includes and integrates it, and doing a quick web browser comparison and research (not using Google) makes it likely to provide similar features as C# <a href="https://nunit.org">NUnit</a> framework (I currently have more experience in C# and NUnit and other similar frameworks).
</p>

<h2>Setup</h2>
<p>
	I create a new (C++) <i>Windows Desktop Application</i> project naming it <code>AvatarHealth</code> and this also creates the solution for the project. For the unit tests I add within the solution a new (C++) <i>Google Test</i> project naming it <code>AvatarHealth-Test</code> (detailed in <a href="https://learn.microsoft.com/en-us/visualstudio/test/writing-unit-tests-for-c-cpp?view=vs-2022#create-a-test-project-in-visual-studio-2022">VS doc section</a>), and configure it like the screenshot below:
</p>
<figure>
	<img src="../assets/images/blog/tdd/part3/VS-new-project_GoogleTests-config.jpg" alt="Test Runner: first test fail" title="VS new project: Google Test config" class="imageSmallText">
	<figcaption>VS new project: Google Test config</figcaption>
</figure>
<p>
	To export the functions that you want to test, add the output .obj or .lib files to the dependencies of the test project detailed in this <a href="https://learn.microsoft.com/en-us/visualstudio/test/writing-unit-tests-for-c-cpp?view=vs-2022#link-to-object-or-library-files">VS doc section</a>.

</p>

<div [innerHTML]="requirements"></div>

<h2>Health Points starting value</h2>

<h3><span class="redFail">RED (does not compile)</span></h3>
<div [innerHTML]="redDoesNotCompileStartingValue()"></div>
<pre><code [highlight]="codeTestRedDoesNotCompileStartingValue()"></code></pre>
<div [innerHTML]="redAfterDoesNotCompileStartingValue()"></div>

<h3><span class="redFail">RED (test fails)</span></h3>
<div [innerHTML]="redStartingValue1()"></div>
<pre><code [highlight]="codeTestRedStartingValue()"></code></pre>
<div [innerHTML]="redStartingValueImg()"></div>
<div [innerHTML]="redStartingValue2()"></div>

<h3><span class="greenPass">GREEN</span></h3>
<div [innerHTML]="greenStartingValue()"></div>
<pre><code [highlight]="codeImplGreenStartingValue()"></code></pre>

<h3><span class="greenRefactor">REFACTOR</span></h3>
<div [innerHTML]="greenStartingValue1()"></div>
<div [innerHTML]="greenStartingValue2()"></div>
<pre><code [highlight]="codeTestRefactorStartingValue()"></code></pre>

<p>
	I create the <code>Health.cpp</code> file and write the implementation in it, and remove the 'green step' quick implementation (the hardcoded <code>12</code> value) from the <code>Health.h</code> header file. Going forward the header file will only contain definitions (that resolve 'red does not compile' steps) and temporary quick implementations for resolving some 'green' steps, thus the implementation will be in the <code>.cpp</code> file.
</p>
<pre><code [highlight]="codeImplRefactorHeaderStartingValue()"></code></pre>
<div [innerHTML]="greenStartingValue3()"></div>
<pre><code [highlight]="codeImplRefactorStartingValue()"></code></pre>

<h2>Handle invalid <span class="code">StartingPoints</span> values</h2>
<div [innerHTML]="invalidStartingPoints()"></div>

<h3><span class="redFail">RED</span></h3>
<div [innerHTML]="redInvalidStartingPoints1()"></div>
<pre><code [highlight]="codeTestRedInvalidStartingPoints()"></code></pre>
<div [innerHTML]="testNamingConvention()"></div>

<h3><span class="greenPass">GREEN</span></h3>
<pre><code [highlight]="codeImplGreenInvalidStartingPoints()"></code></pre>
<div [innerHTML]="greenInvalidStartingPoints()"></div>

<h3><span class="greenRefactor">REFACTOR</span></h3>
<pre><code [highlight]="codeImplRefactorInvalidStartingPoints()"></code></pre>
<div [innerHTML]="refactorInvalidStartingPoints()"></div>

<figure>
	<img src="../assets/images/blog/tdd/part3/TestRunner_before-parameterized-refactor.jpg" alt="Test Runner: before parameterized refactor" title="Test Runner: before parameterized refactor" class="imageSmallText">
	<figcaption>Test Runner: before parameterized refactor</figcaption>
</figure>

<h2>Testing more values for verification</h2>
<div [innerHTML]="testingMoreValues()"></div>
<h3><span class="greenRefactor">REFACTOR</span></h3>
<div [innerHTML]="parameterizedRefactor1()"></div>
<div [innerHTML]="parameterizedRefactor2()"></div>
<pre><code [highlight]="codeTestRefactorParameterized()"></code></pre>
<div [innerHTML]="parameterizedRefactor3()"></div>
<div [innerHTML]="parameterizedRefactorImg()"></div>
