<h1>{{post.seriesTitle}}</h1>
<h2>{{post.title}}</h2>
<div class="byAndDate">
	<small>by Egill Antonsson<br>
		published on {{publishedDateToString}}<br>
	</small>
	<small *ngIf="hasUpdatedDate">
		updated on {{updatedDateToString}}
	</small>
</div>

<h2>The requirements</h2>
<p>
	Let's recap this requirements from the user perspective:
</p>

<ul class="list inline">
	<li>The Life Gauge can be increased by 1 Heart at a time</li>
	<ul>
		<li>Link's health will become full with the increase</li>
	</ul>
	<li>The maximum of Hearts is 30</li>
</ul>
<p>
Increasing the Health is a significant gameplay event In <i>Breath of the Wild</i><br>
(solving puzzles in shrines to get Spirit Orbs, then find and pray to a Goddess Statue),<br>
and thus the increase is always 1 Heart each time, no more or less.
</p>
<div [innerHTML]="completeRequirementListHtml"></div>

<p>
	Now it makes sense to define a new unit in <code>Health</code> that equals 4 <code>Points,</code><br>
that is visually represented as a Heart (or something else),<br>
	as the increase should always be in that unit.<br>
</p>
<h2>Domain / View mapping (revisited)</h2>
<p>
	I add a new domain definition <i>Unit</i> that maps to the visualized <i>Heart</i>
</p>
<table>
	<tr>
		<th><b>Domain Model</b></th>
		<th><b>View / GUI</b></th>
	</tr>
	<tr>
		<td class="center">
			(Avatar) Health
		</td>
		<td class="center">
			Life Gauge
		</td>
	</tr>
	<tr>
		<td class="center">
				<b><i>Unit</i></b>
		</td>
		<td class="center">
			Heart (holds 4 Fractions)
		</td>
	</tr>
	<tr>
		<td class="center">
			Points
		</td>
		<td class="center">
			Heart Fractions
		</td>
	</tr>
</table>

<p>
With <i>Unit</i> defined, I realize that it's beneficial to redefine some 'points' variables into 'unit':<br>
</p>
<ul class="list inline">
<li><code>startingPoints</code> -> <code>startingUnits</code></li>
<ul>
	<li>In <i>Breath of the Wild</i> Link starts with 3 <code>Units</code>, thus fits the <code>Units</code> constraint</li>
	<li>This is also a very reasonable game-balance constraint, and will simplify the logic</li>
	<li>Note that for <code>FullPoints</code>, it makes sense to stay as points<br>
		but will always be equivalent to a whole Unit/s, due to its requirements (via 'starting' and 'increasing')</li>
</ul>
<li><code>MaxNegativePointsForInstantKillProtection</code> -> <code>MaxNegativeUnits...</code></li>
<ul>
	<li>In <i>Breath of the Wild</i> it is 5 <code>Units</code>, thus fits the <code>Units</code> constraint</li>
	<li>This is also a very reasonable game-balance constraint, and will simplify the logic</li>
</ul>
</ul>

<p>
Now let's reword the requirements focusing on the domain model and using its updated terminology:
</p>
<ul class="list inline">
	<li><code>FullPoints</code> can be increased by 1 <code>Unit</code> at a time</li>
	<ul>
		<li><code>CurrentPoints</code> get same value as <code>FullPoints</code></li>
	</ul>
	<li><code>MaxUnits</code> (hereby named) is 30</li>
</ul>

<div [innerHTML]="aboutCodeHtml"></div>

<h2>A wholistic refactoring</h2>
<p>
When doing a  wholistic refactoring with a clear goal,<br>it might make more sense to start with the production code, as is the case now.
</p>
<h3><span class="greenRefactor">Refactor <code>Health</code></span></h3>
<p>
I forsee that it will be beneficial to define a new constant <code>PointsPerUnits</code> in <code>Health</code> to make points <-> units conversation easy and readable.<br>
I then rename the variable names and convert the values using <code>PointsPerUnits</code>
</p>
<pre><code [highlight]="refactorHealth"></code></pre>

<h3><span class="greenRefactor">Refactor <code>HealthTest</code></span></h3>
<p>
Now obviously many tests <span class="redFail">fail</span> as the values need to converted to units.<br>
I rename accordingly and convert the values, using <code>PointsPerUnits</code> where appropriate.<br>
</p>
<pre><code [highlight]="refactorHealthTest"></code></pre>

<p>
Now all the tests <span class="greenRefactor">pass</span> again, and all is well in the universe.
</p>

<h2>TDD Cycling <code>IncreaseByUnit</code></h2>
<p>
	The domain model focus will be a new method named <code>IncreaseByUnit</code>.<br>
</p>

<h3><span class="redFail">RED (exit point <code>FullPoints</code>)</span></h3>
<p>
	Focusing first on the <code>FullPoints</code> property.
</p>

<pre><code [highlight]="red_increaseByUnit_fullPointsIncrease"></code></pre>

<h3><span class="greenPass">GREEN</span></h3>
<p>
	I pass the test by using the defined constant <code>PointsPerUnit</code>
</p>
<pre><code [highlight]="green_increaseByUnit_fullPointsIncrease"></code></pre>

<p>
	Now I focus on the other <i>exit point</i>, the <code>CurrentPoints</code> property.<br>
	It ideally should be a new tests as it's about a different <i>exit point</i><br>
	(see Good Unit Test definition in <a href="./blog/tdd-health/part1">part 1</a>).
</p>
<h3><span class="redFail">RED (exit point <code>CurrentPoints</code>)</span></h3>

<pre><code [highlight]="red_increaseByUnit_currentPointsIncrease"></code></pre>

<h3><span class="greenPass">GREEN</span></h3>

<pre><code [highlight]="green_increaseByUnit_currentPointsIncrease"></code></pre>
<p>
I simply add the line <code>CurrentPoints = FullPoints</code>,<br>
which is also the proper solution as the requirement is:<br>
'<code>CurrentPoints</code> get same value as <code>FullPoints</code> (on increase)'.
</p>

<h2>Cycling the maximum</h2>
<p>
All that is left is the maximum requirement.<br>
The game will only give the user the option to increase the health<br>
if the <code>MaxUnits</code> has not been reached (and it costs 4 <i>Spirit Orbs</i>),<br>
Thus the outside code should query <code>Health</code> if maximum has been reached,<br>
and if not, only then invoke <code>IncreaseByUnit</code>.<br>
<code>IncreaseByUnit</code> should though also handle improper usage in this regard,<br>
and I'll add this handling at the end of this post.
</p>

<h3><span class="redFail">RED</span></h3>
<p>
	The <i>entry point</i> will be a new property named <code>IsMaxUnitsReached</code>.<br>
</p>

<pre><code [highlight]="red_IsMaxUnitsReached"></code></pre>
<p>
I added 2 test easily at the same time,<br>
which should suffice to drive in the proper production implementation.<br>
<br>
Here I can concise the test names<br>
as the <i>exit point</i> is the same as the <i>entry point</i>,<br>
thus I skip the <i>exit point</i> in the name (nested class already names it).<br>
<br>
There are compile errors as both<br>
<code>MaxFullPoints</code> and <code>IsMaxUnitsReached</code> are not defined.
</p>

<h3><span class="greenPass">GREEN</span></h3>
<pre><code [highlight]="green_IsMaxUnitsReached"></code></pre>
<p>
I define the constant and give it the proper value,<br>
and I implement the read-only property as an <a href="https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/statements-expressions-operators/expression-bodied-members">Expression-Bodied Member</a>.<br>
</p>

<h2>Handle improper usage of <code>IncreaseByUnit</code></h2>
<p>
If the outside code invokes <code>IncreaseByUnit</code> when <code>IsMaxUnitsReached</code> is <code>true</code>,<br>
the method should handle this improper usage.
</p>
<h3><span class="redFail">RED</span></h3>
<pre><code [highlight]="red_IncreaseByUnit_ThrowsError"></code></pre>
<p>
	I deem I can use existing <code>InvalidOperationException</code> from <code>System</code>,<br>
	if I include an informative message for my case.<br>
	<br>
	I assert that the message contains string <i>invalid</i>, ignoring case.<br>
	I'm intentionally not being more specific<br>
	to later minimize the chance the assert fails if the message is reworded.<br>
	This simple <i>Resistance to refactoring</i> makes this a better unit test.<br>
	(book <a href="https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/statements-expressions-operators/expression-bodied-members">Unit Testing Principles, Practices, and Patterns</a> by Vladimir Khorikov,<br>
	lists <i>Resistance to refactoring</i> as one of the 4 pillars of good unit test).
</p>

<h3><span class="greenPass">GREEN</span></h3>
<pre><code [highlight]="green_IncreaseByUnit_ThrowsError"></code></pre>
<p>
	I pass the test by adding the <i>if</i> condition at the start of the method.<br>
	<br>
	Now the requirements hao been fulfilled and the Unity Test Runner looks like this:
</p>
<figure>
	<img src="../assets/images/blog/tdd/TestRunner_after-increase-tests.png" alt="Unity Test Runner: after Increase and Max requirements" title="Unity Test Runner: after Increase and Max requirements" class="imageSmallText">
	<figcaption>
		Unity Test Runner: after Increase and Max requirements
	</figcaption>
</figure>
