<h1>{{post.seriesTitle}}</h1>
<h2>{{post.title}}</h2>
<div class="byAndDate">
	<small>by Egill Antonsson<br>
		published on {{publishedDateToString}}<br>
	</small>
	<small *ngIf="hasUpdatedDate">
		updated on {{updatedDateToString}}
	</small>
</div>

<h2>The Dying requirements</h2>
<p>
	Let's recap the rest of the <i>Taking Damage and Dying</i> requirements from the user perspective:
</p>
<ul class="list">
	<li>When Link loses all of his Hearts the game ends</li>
	<li>Link is protected from any damage that would instantly kill him as long as his Life Gauge is full<br>
		and will instead be left alive with Hearth 1 fraction remaining</li>
	<ul>
		<li>However, if the damage is more than five Hearts above his full Life Gauge, he will still die</li>
	</ul>
</ul>
<div [innerHTML]="completeRequirementListHtml"></div>

<p>
	{{rewordRequirement}}
</p>
<ul class="list">
	<li>When Avatar loses all of his Health Points he dies (and game ends)</li>
	<li>The Avatar is protected from any damage that would instantly kill him as long as his Health Points are full<br>
		and will instead be left alive with 1 Health Points remaining</li>
	<ul>
		<li>However, if the damage is more than 20 points above his full Health Points, he will still die</li>
	</ul>
</ul>

<div [innerHTML]="aboutCodeHtml"></div>

<h2>Death cycling</h2>

<p>
	I start cycling the first dying requirement.<br>
	The domain model focus will be a new property named <code>IsDead</code>.
</p>

<h3><span class="redFail">RED</span></h3>
<p>
	I write a new test case and it fails as <code>IsDead</code> is not defined.
</p>
<pre><code [highlight]="test_1_red"></code></pre>

<h3><span class="greenPass">GREEN</span></h3>
<p>
	I make <code>IsDead</code> simply return <code>false</code> to pass the test.
</p>
<pre><code [highlight]="impl_1_green"></code></pre>
<p>
	I encapsulated the property into a 'getter' via <a href="https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/statements-expressions-operators/expression-bodied-members">Expression-Bodied Members syntax</a>.<br>
	<br>
	I know that simply returning <code>false</code> for <code>IsDead</code> will not hold as the generic solution that satisfies all cases,<br>
	thus I'll now do a new cycle to achieve that.<br>
</p>

<h3><span class="redFail">RED</span></h3>
<p>
	Still Focusing on the first dying requirement, but also having the 'protected from instant kill' case in mind,<br>
	I write a new test case that reduces the <code>CurrentPoints</code> to <code>0</code> after two <code>TakeDamage</code> invocations,<br>
	as I know that that case should always kill the Avatar.<br>
</p>
<pre><code [highlight]="test_2_red"></code></pre>
<p>
	The <code>_After</code> in the name suits well for this scenario (better than <code>_When</code>).<br>
	The test still checks only one exit point, although it asserts it twice.<br>
	As the test is readable, focused and meaningful,<br>
	I'm still in line IMO with <i>What is a good Unit Test</i> section in <a href="./blog/tdd-health/part1">Part 1</a>).<br>
	<br>
	The test fails as currently the Avatar is immortal!<br>
	Of course that's no good, so let's fix that and make the test pass.
</p>

<h3><span class="greenPass">GREEN</span></h3>
<p>
	I change the implementation of the <code>IsDead</code> property that makes the test (and the previous test) pass.<br>
</p>
<pre><code [highlight]="impl_2_green"></code></pre>
<p>
	I'm confident that now I have the generic solution for this property,<br>
	Thus I'll start a new cycle for the next requirement.
</p>

<h2>Protected from instant kill</h2>
<p>
	Now focusing on the latter requirement (listed at start of this post),<br>
	I now take further note of the concept 'full Health Points' in the requirement,<br>
	and realize that it's part of the requirement, so I start cycling it.
</p>

<h2>Full Health Points cycle</h2>
<p>
	The domain model focus will be a new property named <code>FullPoints</code>.
</p>
<h3><span class="redFail">RED</span></h3>
<pre><code [highlight]="test_3_red"></code></pre>
<p>
	The test is very similar to the existing test for <i>exit point</i> <code> CurrentPoints</code><br>
	but the key difference is that it's testing a different <i>exit point</i> (see <i>Good Unit Test definition</i> in <a href="./blog/tdd-health/part1">part 1</a>).
</p>

<h3><span class="greenPass">GREEN</span></h3>
<pre><code [highlight]="impl_3_green"></code></pre>
<p>
	I set <code>FullPoints</code> to the <code>startingPoints</code> parameter value (same as <code>CurrentPoints</code>).<br>
	<br>
	I also encapsulate <code>CurrentPoints</code> into a 'getter, private setter'.<br>
	<br>
	This <code>FullPoints</code> implementation satisfies the current requirements,<br>
	but likely will be extended on later with the Replenishing requirements.<br>
	Thus now I'll start a new cycle to fulfill the 'Protected from instant kill' requirement.<br>
</p>

<h2>Protected from instant kill cycling</h2>

<h3><span class="redFail">RED</span></h3>
<pre><code [highlight]="test_4_red"></code></pre>
<p>
	I assert on the output <code>CurrentPoints</code> as the 'protected from instant kill' case should leave the value at <code>1</code>.<br>
	The last <code>TestCase</code> tests the 'exception' case:<br>
	when the damage is so much that it kills the Avatar regardless.<br>
</p>
<h3>Test code naming / structure convention</h3>
<p>
	Elaborating further, the scenario starting with <code>_When</code><br>
	can continue with <code>_Then</code> as needed.<br>
	The whole scenario 'plays out' before the assertion / <i>exit point</i> check.<br>
	(<code>_Then</code> indicates occurring later in the internal scenario order).
</p>

<h2>Experience the value of TDD</h2>
<p>
	Now the value of TDD starts to shine<br>
	as my first attempts to make test pass failed and/or failed existing ones.<br>
	I suggest you try it out yourself before reading my <span class="greenPass">GREEN</span> solution below.<br>
	You can get the current state of the code here: <a href="https://github.com/EgillAntonsson/tdd-avatar-health-in-unity/blob/3e9aeea7a9285a5b67e7900bd8471ec932b758de/Assets/Scripts/Tests/EditMode/HealthTest.cs">HealthTest.cs</a>, <a href="	https://github.com/EgillAntonsson/tdd-avatar-health-in-unity/blob/3e9aeea7a9285a5b67e7900bd8471ec932b758de/Assets/Scripts/Runtime/Health.cs">Health.cs</a><br>
	At this moment the Unity Test Runner looks like this:
	<figure>
		<img src="../assets/images/blog/tdd/TestRunner_tests-protected-from-instant-kill.PNG" alt="Unity Test Runner: after refactoring 'ThrowsError' implementation" title="Unity Test Runner: after refactoring 'ThrowsError' implementation" class="imageSmallText">
		<figcaption>
			Unity Test Runner: test cases for 'protected from instant kill'
		</figcaption>
	</figure>
</p>
<p>
	Have you tried it out ?<br>
	Great !<br>
	Then you can compare with my solution below :)
</p>

<h3><span class="greenPass">GREEN</span></h3>
<pre><code [highlight]="impl_4_green"></code></pre>
<p>
	I got all tests passing with this solution, but it could be cleaned up,<br>
	thus onward to the refactoring step.
</p>

<h3><span class="greenRefactor">REFACTOR</span></h3>
<pre><code [highlight]="impl_4_refactor"></code></pre>
<p>
	I 'flipped' the <code>if</code> check, which then checks for the 'protection' case,<br>
	and returns early (instead of having <code>else</code>).<br>
	This makes the code more readable and streamlined, IMO.<br>
	<br>
	I don't like that the number <code>20</code> has no explanation to it ('magic' number),<br>
	so I'll do an iteration on it.
</p>

<h3><span class="greenRefactor">REFACTOR (2nd iteration)</span></h3>
<pre><code [highlight]="impl_4_refactor_2"></code></pre>
<p>
	I replaced the 'magic' number with a constant member<br>
	and gave it a meaningful name that explains the number.<br>
	A negative value aligns with the naming of the const, so I 'flip' the value.
</p>
