<h1>{{post.seriesTitle}}</h1>
<h2>{{post.title}}</h2>
<div class="byAndDate">
	<small>by Egill Antonsson<br>
		published on {{publishedDateToString}}<br>
	</small>
	<small *ngIf="hasUpdatedDate">
		updated on {{updatedDateToString}}
	</small>
</div>

<h2>Preparing the assignment</h2>
<h3>My TDD workshop</h3>
<p>
	I did a workshop about TDD at work and for preparation I browsed the internet looking for a fitting assignment, and I came across <a href="https://www.youtube.com/watch?v=R1aO4Tmw3zA&list=PLKERDLXpXl_jJQiQOHDLimnulasAK3T5b">TDD in Unity - Part 1</a> by Charles Amat, where he sets up his assignment: implementing the <i>Life Gauge</i> from <i>Zelda: Breath of the Wild</i> game.
</p>
<p>
	I thought this assignment was fitting for the workshop, thus I read the <a href='https://zelda.fandom.com/wiki/Life_Gauge'>Life Gauge page on the Zelda wiki</a> (which was linked in the 'Part 1' post), and also played the game a bit, focusing on the <i>Life Gauge</i> behavior. But I did not go through the 'TDD in Unity' series, as I was running out of preparation time.
</p>
<p>
	My focus and task order in both my preparations and workshop were:<br>
</p>
<ol class="list inline">
	<li>Write down the <i>Life Gauge</i> behavior from the user perspective (based on the wiki, and to a lesser degree my experience, as I'm not so good in <i>Zelda: Breath of the Wild</i>).</li>
	<li>Focus first on the (non visual) domain logic and implement all the requirements it should fulfill, as TDD is fully effective and effortless in the domain model.</li>
	<li>Afterwards, if there still was time, the focus would shift to the visual GUI, where the value of TDD likely would diminish the closer I got to the physical boundary of the screen, ending with just manually testing with my eyes. (More info in the <a href="./blog/tdd/what-how-why-when">Boundary layer</a> section).</li>
</ol>
<p>
	I only had time prepare the first couple of domain logic requirements and during the workshop we collaboratively completed those together before the time was up.
</p>

<h3>Comparing approaches on the assignment</h3>
<p>
	After the workshop I was curious how Charles Amat solved it, thus I watched the whole <a href="https://www.youtube.com/watch?v=R1aO4Tmw3zA&list=PLKERDLXpXl_jJQiQOHDLimnulasAK3T5b">TDD in Unity</a> series. I both enjoyed and learned from watching Charles Amat <a href="https://en.wikipedia.org/wiki/Live_coding">live coding</a> and implementing the <i>Life Gauge</i> and his end result solution is good and sound, and I thank Charles for his contribution. But I noticed that his focus and task order quite differed from mine, as he:<br>
</p>
<ol class="list inline">
	<li>Starts planning how to create the heart container in Unity from a GUI perspective.</li>
	<li>Then starts TDD-ing logic close to the GUI.</li>
	<li>Ends with TDD-ing the domain logic (<a href="https://www.youtube.com/watch?v=_vd2JyX6C1Y&list=PLKERDLXpXl_jJQiQOHDLimnulasAK3T5b&index=8">Part 7</a> and <a href="https://www.youtube.com/watch?v=LPlH87XaWC8&list=PLKERDLXpXl_jJQiQOHDLimnulasAK3T5b&index=9">Part 8</a>) and simplifies the domain requirements from the <i>Breath of the Wild</i>.</li>
</ol>

<h3>Same assignment, but with a different focus</h3>
<p>
	This is why I think it's worth doing another series with the same assignment, but with my focus, task order, and format.
</p>
<p>
	My format will be blog posts focused on the TDD cycles displaying the appropriate code for each step. I'll demonstrate how the requirements and the cycles guide and shape the code and my reasoning, that will read like poetry of rhythmic <span class="redFail">RED </span><span class="greenPass">GREEN </span> <span class="greenRefactor">REFACTOR </span> loops (at least that's my ambition).
</p>

<h2>The Life Gauge behavior</h2>
<p>
The below list is user perspective behaviour summary from the <a href='https://zelda.fandom.com/wiki/Life_Gauge'>Life Gauge page on the Zelda Wiki</a> for the <i>Breath of the Wild</i> game. I've simplified some requirements to keep the scope within a sensible limit. I've also provided more detail where needed by playing and observing the game. (In real 'gameplay in development' scenario it's important to get the needed details of the requirements as early as possible from the game designer).
</p>

<ul class="list">
	<li class="noBulletinPoint"><b>Definition and Start State</b></li>
	<li>The Life Gauge measures Link's (the avatar) current amount of health.</li>
	<li>Health is visually represented in the form of Hearts, and they are in fractions of 4.</li>
	<li>The Life Gauge starts with 3 Hearts.</li>
	<br>
	<li class="noBulletinPoint"><b>Taking Damage and Dying</b></li>
	<li>Whenever Link takes damage he will lose a certain amount of Heart fractions equal to the damage points taken (always losing at least 1 fraction)</li>
	<li>When Link loses all of his Hearts the game ends.</li>
	<li>Link is protected from any damage that would instantly kill him as long as his Life Gauge is full and will instead be left alive with Hearth 1 fraction remaining.</li>
	<ul>
		<li>However, if the damage is more than 5 Hearts in addition to his full Life Gauge, he will still die.</li>
	</ul>
	<br>
	<li class="noBulletinPoint"><b>Replenish and Increase</b></li>
	<li>The Life Gauge can be replenished by consuming certain items.</li>
	<li>The Life Gauge can be increased by 1 Heart at a time.</li>
	<ul>
		<li>Link's health will become full with the increase.</li>
	</ul>
	<li>The maximum of Hearts is 30.</li>
</ul>

<h3>Model / View mapping of <i>Life Gauge</i></h3>
<table>
	<tr>
		<th><b>Domain Model</b></th>
		<th><b>View / GUI</b></th>
	</tr>
	<tr>
		<td class="center">
			(Avatar) Health
		</td>
		<td class="center">
			Life Gauge
		</td>
	</tr>
	<tr>
		<td class="center">
				<i>TBD later</i>
		</td>
		<td class="center">
			Heart (holds 4 Fractions)
		</td>
	</tr>
	<tr>
		<td class="center">
			Points
		</td>
		<td class="center">
			Heart Fractions
		</td>
	</tr>
</table>
<p>
This mapping is good to start on early: The Heart Container (with its Hearts and fractions) is a specific view representation of the Avatar Health, the domain model. This is a good start of separating the concerns and I'll break them further down below.
</p>
<p>
I'll apply the approach in the  <a href="./blog/tdd/what-how-why-when">Boundary layer</a> section, making sure that the code dependency is minimal and one-way:
</p>
<ul class="list inline">
	<li>the view can depend in minimal way on the model, but not vice-versa.</li>
	<li>all the domain logic should be in the model.</li>
	<li>the view should be thin and humble.</li>
</ul>
<p>
	Thus when future change requests on the GUI arrive (which is likely in a real scenario) it will be effortless to handle as both the domain and its logic, and the model naming and terms, will remain unaffected. This also makes it effortless to display simultaneously more than one GUI representations<br>
of the same model (which is quite common in game UI).
</p>
