<div class="headerContainer">
<div class="headerBackground"></div>
<nav>
	<li><a routerLink="/home" routerLinkActive="active">Home</a></li>
	<li><a routerLink="/blog" routerLinkActive="active">Blog</a></li>
	<li><a routerLink="/music" routerLinkActive="active">Music</a></li>
	<li><a routerLink="/lifting" routerLinkActive="active">Lifting</a></li>
</nav>
<app-music-player></app-music-player>
</div>
<router-outlet></router-outlet>

<div class="horizontalLine"></div>

<h2>{{headerText}}</h2>

<div class="commentForm" *ngIf=showCommentForm>
 <form [formGroup]="messageForm" name={{formName}} method="POST">
	<input type="hidden" name="form-name" value={{formName}}>
	<p class="hide">
		<label>Don't, fill this field out if you're human:</label>
		<input name="{{botFieldName}}" />
	</p>
	<label>{{messageLabel}}</label>
	 <br>
		<textarea class="formTextFields" type="text" placeholder={{placeholderComment}} formControlName={{messageName}} name="{{messageName}}" [maxlength]="300" rows="6"></textarea>
	<br><br>
	<label>* Your Name / Handle:</label>
	<br>
	<input class="formTextFields" type="text" placeholder="{{placeholderHandle}}" formControlName="{{handleName}}" name="{{handleName}}" maxlength="32">
	<br><br>
	<div *ngIf="urlEnd === '/home'">
	<label>* Your Email:</label>
	<br>
	<input class="formTextFields" type="text" placeholder="{{placeholderEmail}}" formControlName="{{emailName}}" name="{{emailName}}" maxlength="32">
	<div *ngIf="emailControl.invalid" class="alert">
		<div *ngIf="emailControl.errors?.pattern">
			<label>Has to be a valid email address</label>
		</div>
	</div>
	<br><br>
	</div>
	<button type="submit" [disabled]="messageForm.invalid" (click)="onSendClick()">Send</button>
</form>
</div>
