<div class="headerContainer">
<div class="headerBackground"></div>
<nav>
	<li><a routerLink="/home" routerLinkActive="active">Home</a></li>
	<li><a routerLink="/blog" routerLinkActive="active">Blog</a></li>
	<li><a routerLink="/music" routerLinkActive="active">Music</a></li>
	<li><a routerLink="/lifting" routerLinkActive="active">Lifting</a></li>
</nav>
<app-music-player></app-music-player>
</div>
<router-outlet></router-outlet>

<h2>Comments</h2>

<div class="commentForm">
 <form [formGroup]="commentForm" name={{formName}} method="POST">
	<input type="hidden" name="form-name" value={{formName}}>
	<p style='display: none;'>
		<label>Don’t fill this out if you're human: <input name="bot-field" /></label>
	</p>
	<label>Your Comment</label>
	 <br>
		<textarea class="formTextFields" placeholder={{defaultCommentText}} type="text" formControlName={{commentKey}} name="inputComment" [maxlength]="300" rows="5"></textarea>
	<br><br>
	<small>Your Name / Handle (optional)</small>
	<br>
	<input class="formTextFields" type="text" placeholder="{{defaultNameText}}" formControlName="inputName" name="inputName" maxlength="30">
	<br><br>
	<button type="submit" [disabled]="commentForm.invalid" (click)="onSendClick()">Send</button>
</form>
</div>
