@import '@angular/material/prebuilt-themes/purple-green.css';
@import '~highlight.js/styles/tomorrow-night-bright.css';

:root {

	/* Below should sync with color.ts enum */

	--colorBlackLight: #111;

	--colorGrayLight: #969896;
	--colorGrayLightMed: #8B91A2;
	--colorGrayDarkMed: #424242;
	--colorGrayDark: #212121;

	--colorWhiteLight: #EEE;
	--colorWhiteLightMed: #DDD;

	--colorGreenLight: #B9CA4A;
	--colorGreenLightMed: #99AA2A;
	--colorGreenMed: #798A0A;
	--colorGreenMedDark: #596A06;
	--colorGreenDark: #394A00;

	--colorOrangeLight: #DD8800;
	--colorOrangeLightMed: #BD6800;
	--colorOrangeMed: #9D4800;
	--colorOrangeMedDark: #7D2800;
	--colorOrangeDark: #5D0800;

	--colorRed: #CC4400;

	--colorBlueLight: #7AA6DA;

	--colorPurpleLight: #C397D8;

	--colorBackground: var(--colorBlackLight);
	--colorForeground: var(--colorWhiteLight);
	--colorActive: var(--colorGreenLight);
	--colorPending: var(--colorOrangeLight);
	--colorLink: var(--colorBlueLight);
	--colorLinkVisited: var(--colorPurpleLight);

	--screenWidth0: 451px;
}

body {
	font-family: Lato, Helvetica, sans-serif;
	margin: 10px 5%;
	background: var(--colorBackground);
}
body, input[text] {
color: var(--colorForeground);
}

input {
border-style: solid;
	border-width: 1px;
	border-color: var(--colorGrayLightMed);
	font-size: 102%;
	font-family: Lato, Helvetica, sans-serif;
	background: var(--colorGrayDark);
	color: var(--colorWhiteLight)
}

.formTextFields {
	width: 100%;
}

textarea {
	border-style: solid;
	border-width: 1px;
	border-color: var(--colorGrayLightMed);
	font-size: 102%;
	font-family: Lato, Helvetica, sans-serif;
	background: var(--colorGrayDark);
	color: var(--colorWhiteLight);
	resize: vertical;
}

button {
	width: 7em;
	border-style: solid;
	border-width: 2px;
	border-color: var(--colorGreenLight);
	font-size: 102%;
	background: var(--colorGreenMedDark);
	color: var(--colorWhiteLight);
}

button:hover {
	cursor: pointer;
}

button:disabled {
	border-color: var(--colorGrayLightMed);
	background: var(--colorGrayDarkMed);
	color: var(--colorGrayLightMed);
	cursor: auto;
}

code {
	font-family: 'M PLUS 1 Code';
	font-size: 95%;
	tab-size: 1;
	border-radius: 5%;
}

.code {
	font-family: 'M PLUS 1 Code';
}

h1 {
	font-size: 1.9em; /* default 2.0em */
	text-align: center;
}

h2 {
	font-size: 1.45em; /* default 1.5em */
	font-weight: lighter;
	text-align: center;
}

h3 {
	font-size: 1.23em; /* default 1.17em */
	font-weight: lighter;
}

p {
	padding-bottom: 1em;
}

/* table */
table {
	border-collapse: collapse;
	margin: 0 auto;
}
table td {
	border: 1px solid #ccc;
	padding: 0.5em;
}
table td.center {
	text-align: center;
}
table th {
	border: 1px solid #ccc;
	padding: 0.5em;
}

a {
	cursor: pointer;
}
a:link {
	color: var(--colorLink);
}
a:visited {
	color: var(--colorLinkVisited);
}

nav a {
	padding: 4px 8px;
	margin-top: 3px;
	margin-bottom: 1px;
	text-decoration: none;
	margin-left: 1%;
	margin-right: 1%;
	display: inline-block;
	background: var(--colorGrayDarkMed);
	border-radius: 10px;
	font-size: 120%;
}
nav a:visited, nav a:link {
	color: var(--colorGrayLight);
}
nav a:hover {
	color: var(--colorBackground);
	background: var(--colorPending);
}
nav a.active {
	background: var(--colorActive);
	color: var(--colorBackground)
}

nav {
	position: fixed;
	text-align: center;
	width: 90%;
	z-index: 2;
}

nav li {
	display: inline;
}


figure {
	margin: 1.5em auto;
}

figcaption {
	font-size: 85%;
	text-align: center;
	padding-top: 0.3em;
}

.image {
	width: 100%;
	max-width: 575px;
	border-radius: 5%;
	display: block;
	margin: 0 auto;
}

.imageSmallText
{
	max-width: 575px;
	border-radius: 5%;
	display: block;
	margin: 0 auto;
}

.headerContainer {
	height: 100px;
}

.headerBackground {
	position: fixed;
	width: 91%;
	height: 100px;
	margin-top: -10px;
	margin-left: -1px;
	background: var(--colorBackground);
	border-bottom: 1px solid var(--colorGrayDarkMed);
	z-index: 1;
}

.horizontalLine {
	border-bottom: 1px solid var(--colorGrayDarkMed);
}

.alert {
	color: var(--colorOrangeLight);
}

hr {
	border-bottom: 1px solid var(--colorGrayDarkMed);
}

.noSelect {
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.noSelect:focus {
	outline: none !important;
}

/* #region tree branch node container */

.treeContainer {
	width: 100%;
	margin-bottom: 1em;
	cursor: pointer;
	}

.branchContainer {
	margin-top: 5px;
	margin-bottom: 2px;
}

.branchIconContainer {
	float: left;
	margin-right: 0.75em;
}

.branchIcon {
	background: #969896;
	width: 10px;
	height: 8px;
	transition: all 0.2s;
	margin: auto;
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.branchAnimateClose {
	transform: translateY(6px) rotate(0deg);
	transition: all 0.1s;
}

.branchAnimateOpen {
	transform: translateY(5px) rotate(90deg);
	transition: all 0.4s ease-out;
}

.nodeContainer {
	margin-left: 2em;
	line-height: 22px;
}

.nodeFadeIn {
	animation: fadeIn 0.5s linear;
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.nodeSelected {
	font-weight: bold;
	color: var(--colorActive);
}

.footer {
	float: right;
	width: 100%;
}

.messageForm {
	text-align: center;
}

/* #endregion */

/*#region ngx slider */

.slider .ngx-slider .ngx-slider-bar {
	background:var(--colorGrayDarkMed);
	height: 3px;
}

.slider .ngx-slider .ngx-slider-selection {
	background: var(--colorActive);
}

.slider .ngx-slider .ngx-slider-pointer {
	width: 5px;
	height: 10px;
	top: auto;
	bottom: -3px;
	outline-color: var(--colorGreenLight)
}

.slider .ngx-slider .ngx-slider-pointer:after {
	display: none;
}

.slider .ngx-slider .ngx-slider-bubble {
	color: var(--colorForeground)
}

.slider .ngx-slider .ngx-slider-tick {
	width: 3px;
	height: 10px;
	margin-left: 4px;
	border-radius: 0;
	background: var(--colorGrayDarkMed);
	top: -1px;
}

.slider .ngx-slider .ngx-slider-tick.ngx-slider-selected {
	background: var(--colorActive);
}

/* #endregion */


.hide {
	display: none;
}


.list
{
	margin-left: 0%;
	margin-right: 0%;
}

.inline
{
	margin-block-start: -1.5em;
}

.tribute {
	float: right;
	font-size: xx-small;
}

/*#region loading animation from https://loading.io/css/ */

.lds-roller {
  display: inline-block;
  width: 80px;
	height: 80px;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: var(--colorPending);
	margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
	left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* #endregion */

/*#region media screen */

/* '@media screen' put last because order in this file matters.
min width considered 360px (Galaxy S8+) */

@media screen and (max-width: 451px) {
	body {
		font-size: 95%;
		letter-spacing: 0px;
		word-spacing: 0px;
	}

	p, li, code {
		line-height: 22px;
		/* 18px seems to be the default 'normal'*/
	}

	.navContainer {
		height: 85px;
	}
	.navBackground {
		height: 105px;
	}
	.treeContainer {
		margin-bottom: 1.5em;
		/* width: 55%; */
	}

	.imageSmallText {
		width: 100%;
	}

	/* debug */
	h1 { color: green; }
	h4 { color: green; }
}

@media screen and (min-width:  452px) and (max-width: 703px) {
	body {
		font-size: 100%;
		letter-spacing: 0.1px;
		word-spacing: 0.2px;
	}
	p, li, code, .nodeContainer {
		line-height: 22px;
	}
	code {
		tab-size: 2;
	}

	.headerContainer, .headerBackground {
		height: 105px;
	}

	.treeContainer {
		width: 85%;
		margin-left: 15%;
	}

	/* debug */
	h1 { color: orange; }
	h4 { color: orange; }
}

@media screen and (min-width: 704px) and (max-width: 1053px) {
	body {
		font-size: 105%;
		letter-spacing: 0.2px;
		word-spacing: 0.4px;
	}
	p, li, code, .nodeContainer {
		line-height: 23px;
	}
	p, h3, h4, pre, label, sup, .list {
		margin-left: 5%;
		margin-right: 5%;
	}
	code {
		tab-size: 2;
	}

	.headerContainer, .headerBackground {
		height: 110px;
	}

	.treeContainer {
		width: 75%;
		margin-left: 25%;
	}

	.formTextFields {
		width: 80%;
	}

	/* debug */
	h1 { color: purple; }
	h4 { color: purple; }
}

@media screen and (min-width: 1054px) and (max-width: 1403px) {
	body {
		font-size: 110%;
		letter-spacing: 0.3px;
		word-spacing: 0.6px;
	}
	p, li, code, .nodeContainer {
		line-height: 23px;
	}
	p, h3, h4, pre, label, sup, .list {
		margin-left: 15%;
		margin-right: 15%;
	}
	code {
		tab-size: 2;
	}

	.headerContainer, .headerBackground {
		height: 115px;
	}

	.treeContainer {
		width: 65%;
		margin-left: 35%;
	}

	.formTextFields {
		width: 60%;
	}

	/* debug */
	h1 { color: aqua; }
	h4 { color: aqua; }
}

@media screen and (min-width: 1404px) and (max-width: 2000px) {
	body {
		font-size: 115%;
		letter-spacing: 0.4px;
		word-spacing: 0.8px;
	}
	p, li, code, .nodeContainer {
		line-height: 24px;
	}
	p, h3, h4, pre, label, sup, .list {
		margin-left: 25%;
		margin-right: 25%;
	}
	code {
		tab-size: 3;
	}

	.headerContainer, .headerBackground {
		height: 120px;
	}

	.formTextFields {
		width: 40%;
	}

	.treeContainer {
		width: 60%;
		margin-left: 40%;
	}

	/* debug */
	h1 { color: red; }
	h4 { color: red; }
}

@media screen and (min-width: 2001px) {
	body {
		font-size: 115%;
		letter-spacing: 0.4px;
		word-spacing: 0.8px;
	}
	p, li, code, .nodeContainer {
		line-height: 24px;
	}
	p, h3, h4, pre, label, sup, .list {
		margin-left: 30%;
		margin-right: 30%;
	}
	code {
		tab-size: 4;
	}

	.headerContainer, .headerBackground {
		height: 125px;
	}

	.treeContainer {
		width: 60%;
		margin-left: 40%;
	}

	.formTextFields {
		width: 40%;
	}

	/* debug */
	/* h1 { color: yellow; } */
}
/* #endregion */
