@import '@angular/material/prebuilt-themes/purple-green.css';
@import '~highlight.js/styles/tomorrow-night-bright.css';

:root {

	/* Should sync with color.ts enum */

	--colorBlackLight: #111;

	--colorGrayLight: #969896;
	--colorGrayLightMed: #8B91A2;
	--colorGrayDarkMed: #424242;
	--colorGrayDark: #212121;

	--colorWhiteLight: #EEE;
	--colorWhiteLightMed: #DDD;

	--colorGreenLight: #B9CA4A;
	--colorGreenLightMed: #99AA2A;
	--colorGreenMed: #798A0A;
	--colorGreenMedDark: #596A06;
	--colorGreenDark: #394A00;

	--colorOrangeLight: #DD8800;
	--colorOrangeLightMed: #BD6800;
	--colorOrangeMed: #9D4800;
	--colorOrangeMedDark: #7D2800;
	--colorOrangeDark: #5D0800;

	--colorRed: #ee4400;

	--colorBlueLight: #7AA6DA;

	--colorPurpleLight: #C397D8;


	--colorBackground: var(--colorBlackLight);
	--colorForeground: var(--colorWhiteLight);
	--colorActive: var(--colorGreenLight);
	--colorPending: var(--colorOrangeLight);
	--colorDisabled: var(--colorGrayLightMed);
	--colorLink: var(--colorBlueLight);
	--colorLinkVisited: var(--colorPurpleLight);
}

body {
	font-family: Lato, Helvetica, sans-serif;
	margin: 10px 5%;
	background: var(--colorBackground);
}
body, input[text] {
	color: var(--colorForeground);
}

input {
	font-size: 102%;
	font-family: Lato, Helvetica, sans-serif;
	background: var(--colorGrayDark);
	color: var(--colorWhiteLight)
}

textarea {
	font-size: 102%;
	font-family: Lato, Helvetica, sans-serif;
	background: var(--colorGrayDark);
	color: var(--colorWhiteLight)
}

button {
	font-size: 102%;
	background: var(--colorGrayDark);
	color: var(--colorWhiteLight)
}

button:disabled{
	background: var(--colorGrayDarkMed);
	color: var(--colorGrayLightMed);
}

code {
	font-family: 'M PLUS 1 Code';
	/* font-size: 90%; */
	tab-size: 1;
}

h1 {
	/* font-size: 190%; */
	text-align: center;
}

h2 {
	/* font-size: 128%; */
	font-weight: lighter;
	text-align: center;
}

h3 {
	/* font-size: 120%; */
	font-weight: lighter;
}

p {
	/* font-size: 95%; */
	padding-bottom: 1em;
}

/* label {
	font-size: 90%;
	display: block;
	text-align: center;
} */

/* table */
table {
	margin: 0 auto;
}
table td {
	border: 1px solid #ccc;
	padding: 0.5em;
}
table td.center {
	text-align: center;
}
table th {
	border: 1px solid #ccc;
	padding: 0.5em;
}

a {
	cursor: pointer;
	cursor: hand;
}
a:link {
	color: var(--colorLink);
}
a:visited {
	color: var(--colorLinkVisited);
}

nav a {
	padding: 4px 8px;
	margin-top: 3px;
	margin-bottom: 1px;
	text-decoration: none;
	margin-left: 1%;
	margin-right: 1%;
	display: inline-block;
	background: var(--colorGrayDarkMed);
	border-radius: 10px;
	font-size: 120%;
}
nav a:visited, nav a:link {
	color: var(--colorGrayLight);
}
nav a:hover {
	color: var(--colorBackground);
	background: var(--colorPending);
}
nav a.active {
	background: var(--colorActive);
	color: var(--colorBackground)
}

nav {
	position: fixed;
	text-align: center;
	width: 90%;
	z-index: 2;
}

nav li {
	display: inline;
}


figure {
	margin: 2em auto;
}

figcaption {
	font-size: 90%;
	text-align: center;
	padding-top: 0.3em;
}

.image {
	width: 100%;
	max-width: 575px;
	border-radius: 5%;
	display: block;
	margin: 0 auto;
}

.headerContainer {
	height: 100px;
}

.headerBackground {
	position: fixed;
	width: 91%;
	height: 100px;
	margin-top: -10px;
	margin-left: -1px;
	background: var(--colorBackground);
	border-bottom: 1px solid var(--colorGrayDarkMed);
	z-index: 1;
}

/* reused in many components */

.alert {
	color: var(--colorOrangeLight);
}

/* #region tree branch node container */

.treeContainer {
	width: 100%;
	/* margin-left: 5%; */
	float: left;
	margin-bottom: 2em;
	cursor: pointer;
	}

.branchContainer {
	margin-top: 5px;
	margin-bottom: 2px;
}

.branchIconContainer {
	float: left;
	margin-right: 0.75em;
}

.branchIcon {
	background: #969896;
	width: 8px;
	height: 8px;
	transition: all 0.2s;
	margin: auto;
}

.branchAnimateClose {
	transform: translateY(6px) rotate(0deg);
	transition: all 0.1s;
}

.branchAnimateOpen {
	transform: translateY(5px) rotate(225deg);
	transition: all 0.4s ease-out;
}

.nodeContainer {
	margin-left: 2em;
	line-height: 22px;
}

.nodeFadeIn {
	animation: fadeIn 0.5s linear;
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.nodeSelected {
	font-weight: bold;
	/* font-family: Arial, Helvetica, sans-serif; */
	 /* place it at the same y pos as the Lato font */
	padding-top: 1.5px;
	color: var(--colorActive);
}

/* #endregion */

/*#region ngx slider */

.slider .ngx-slider .ngx-slider-bar {
	background:var(--colorGrayDarkMed);
	height: 3px;
}

.slider .ngx-slider .ngx-slider-selection {
	background: var(--colorActive);
}

.slider .ngx-slider .ngx-slider-pointer {
	width: 5px;
	height: 10px;
	top: auto;
	bottom: -3px;
	outline-color: var(--colorGreenLight)
}

.slider .ngx-slider .ngx-slider-pointer:after {
	display: none;
}

.slider .ngx-slider .ngx-slider-bubble {
	color: var(--colorForeground)
}

.slider .ngx-slider .ngx-slider-tick {
	width: 3px;
	height: 10px;
	margin-left: 4px;
	border-radius: 0;
	background: var(--colorGrayDarkMed);
	top: -1px;
}

.slider .ngx-slider .ngx-slider-tick.ngx-slider-selected {
	background: var(--colorActive);
}

/* #endregion */

/*#region loading animation from https://loading.io/css/ */

.lds-roller {
  display: inline-block;
  width: 80px;
	height: 80px;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: var(--colorPending);
	margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
	left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* #endregion */

/*#region media screen */

/* '@media screen' put last because order in this file matters.
min width considered 360px (Galaxy S5) */

@media screen and (max-width: 451px) {
	.navContainer {
		height: 85px;
	}
	.navBackground {
		height: 105px;
	}
	.treeContainer {
		margin-bottom: 1.5em;
		/* width: 55%; */
	}

	/* debug */
	h1 {
		color: green;
	}
}

@media screen and (min-width:  452px) and (max-width: 703px) {
	body {
		font-size: 105%;
	}
	.treeContainer {
		width: 85%;
		margin-left: 15%;
	}

	/* debug */
	h1 {
		color: orange;
	}
}

@media screen and (min-width: 704px) and (max-width: 1053px) {
	body {
		font-size: 110%;
	}
	p, h3 {
		margin-left: 12.5%;
		margin-right: 12.5%;
	}
	.treeContainer {
		width: 70%;
		margin-left: 30%;
	}

	/* debug */
	h1 {
		color: purple;
	}
}

@media screen and (min-width: 1054px) and (max-width: 1403px) {
	body {
		font-size: 115%;
	}
	p, h3 {
		margin-left: 20%;
		margin-right: 20%;
	}
	.treeContainer {
		width: 65%;
		margin-left: 35%;
	}

	/* debug */
	h1 {
		color: aqua;
	}
}

@media screen and (min-width: 1404px) {
	body {
		font-size: 120%;
	}
	p, h3 {
		margin-left: 27.5%;
		margin-right: 27.5%;
	}
	.treeContainer {
		width: 60%;
		margin-left: 40%;
	}

	/* debug */
	h1 {
		color: red;
	}
}

/* #endregion */
