:root {
	--colorActive: #b9ca4a;
	--colorPending: #dd8800;
	--colorDarkDark: #111;
	--colorDarkMed: #424242;
	--colorDarkLight: #969896;
	--colorLightLight: #eee;
	--colorLink: #7aa6da;
	--colorLinkVisited: #C397D8;
}

.slider .ng5-slider .ng5-slider-bar {
	background:var(--colorDarkMed);
	height: 3px;
}

.slider .ng5-slider .ng5-slider-selection {
	background: var(--colorActive);
}

.slider .ng5-slider .ng5-slider-pointer {
	width: 8px;
	height: 16px;
	top: auto;
	bottom: -2px;
	background-color: var(--colorActive);
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.slider .ng5-slider .ng5-slider-pointer:after {
	display: none;
}

.slider .ng5-slider .ng5-slider-bubble {
	color: var(--colorLightLight)
}

.slider .ng5-slider .ng5-slider-tick {
	width: 3px;
	height: 10px;
	margin-left: 4px;
	border-radius: 0;
	background: var(--colorDarkMed);
	top: -1px;
}

.slider .ng5-slider .ng5-slider-tick.ng5-slider-selected {
	background: var(--colorActive);
}

h1 {
	font-size: 190%;
	text-align: center;
}

h2 {
	font-size: 128%;
	font-weight: lighter;
	text-align: center;
}

h3 {
	font-size: 120%;
	font-weight: lighter;
}

p {
	font-size: 95%;
	padding-bottom: 1em;
}

label {
	font-size: 90%;
	display: block;
	text-align: center;
}

table {
	margin: 0 auto;
}

body {
	margin: 10px 5%;
	background: var(--colorDarkDark);
}
body, input[text], button {
	color: var(--colorLightLight);
	font-family: Cambria, Georgia;
}

.image {
	width: 100%;
	max-width: 575px;
	border-radius: 5%;
	display: block;
	margin: 0 auto;
}

figure {
	margin: 2em auto;
}

figcaption {
	font-size: 90%;
	text-align: center;
	padding-top: 0.3em;
}

a {
	cursor: pointer;
	cursor: hand;
}
a:link {
	color: var(--colorLink);
}
a:visited {
	color: var(--colorLinkVisited);
}

nav a {
	padding: 6px 11px;
	margin-bottom: 1px;
	text-decoration: none;
	margin-left: 1%;
	margin-right: 1%;
	display: inline-block;
	background: var(--colorDarkMed);
	border-radius: 10px;
	font-size: 126%;
}
nav a:visited, nav a:link {
	color: var(--colorDarkLight);
}
nav a:hover {
	color: var(--colorDarkDark);
	background: var(--colorPending);
}
nav a.active {
	background: var(--colorActive);
	color: var(--colorDarkDark)
}

nav {
	position: fixed;
	text-align: center;
	width: 90%;
	z-index: 2;
}

.navContainer {
	height: 41px;
}

.navBackground {
	position: fixed;
	width: 91%;
	height: 60px;
	margin-top: -10px;
	margin-left: -1px;
	background: var(--colorDarkDark);
	border-bottom: 1px solid var(--colorDarkMed);;
	z-index: 1;
}

nav li {
	display: inline;
}

* {
	font-family: Lato, Arial, Helvetica, sans-serif;
}

/* reused in many components */

.allByContainer {
	width: 95%;
	margin-left: 5%;
	float: left;
	margin-top: 2em;
	margin-bottom: 2em;
	cursor: pointer;
	}

.byContainer {
	margin-top: 5px;
	margin-bottom: 2px;
}

.byIconContainer {
	float: left;
	margin-right: 0.75em;
}

.byIcon {
	background: #969896;
	width: 8px;
	height: 8px;
	transition: all 0.2s;
	margin: auto;
}

.animateClose {
	transform: translateY(6px) rotate(0deg);
	transition: all 0.1s;
}

.animateOpen {
	transform: translateY(5px) rotate(225deg);
	transition: all 0.4s ease-out;
}

.trackContainer {
	margin-left: 2em;
	line-height: 22px;
}

.track {
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	padding-top: 1.5px; /* place it at the same y pos as the Lato font */
	color: var(--colorActive);
}

.fadein {
	animation: fadein 0.5s linear;
}

@keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* these put last because order in file matters.
Not focusing on width that is less than 344px */
@media screen and (max-width: 451px) {
	.navContainer {
		height: 85px;
	}
	.navBackground {
		height: 105px;
	}
	nav {
		width: 66%;
		margin-left: 12%;
	}
	nav a {
		margin-top: 5px;
	}
	/* debug */
	/* h1 {
		color: green;
	} */
}

@media screen and (min-width:  452px) and (max-width: 703px) {
	/* nav a {
		padding: 6px 11px;
		margin-left: 1%;
		margin-right: 1%;
		font-size: 126%;
	} */
	/* debug */
	/* h1 {
		color: orange;
	} */
}

@media screen and (min-width: 704px) and (max-width: 1053px) {
	p, h3 {
		margin-left: 12.5%;
		margin-right: 12.5%;
	}

	/* debug */
	/* h1 {
		color: purple;
	} */
}

@media screen and (min-width: 1054px) and (max-width: 1403px) {
	p, h3 {
		margin-left: 20%;
		margin-right: 20%;
	}
	/* debug */
	/* h1 {
		color: aqua;
	} */
}

@media screen and (min-width: 1404px) {
	p, h3 {
		margin-left: 27.5%;
		margin-right: 27.5%;
	}

	/* debug */
	/* h1 {
		color: red;
	} */
}
