<h1>Egill Antonsson</h1>
<h2>Software developer, music artist, weightlifter, earthling, stardust</h2>
<p>
	Welcome to my website, where I share my passions:<br>
	Software development and <a href="/blog">blogging about it</a>, <a href="/music">music</a>, and <a href="/lifting">weight lifting</a>.<br>
	My code projects are on <a href='https://github.com/EgillAntonsson'>GitHub</a>.<br>
	I'm a developer at <a href="https://www.maginteractive.com">MAG Interactive</a> where I develop front-end shared tech for the mobile games.<br>
	My <a href="https://www.linkedin.com/in/egillantonsson">LinkedIn profile</a> sums up my work experience.
</p>
<h2>Background & Family</h2>
<figure>
	<img src="../assets/images/home/Egill_Antonsson_and_family.jpg" alt="The family: Egill Antonsson, Soffía Rós Egilsdóttir, Jantra Phosri & Andri Reyr Ragnarsson" title="The family: Egill Antonsson, Soffía Rós Egilsdóttir, Jantra Phosri & Andri Reyr Ragnarsson" class="image">
	<figcaption>
		The Family, from left to right:<br>
		Egill Antonsson, Soffía Rós Egilsdóttir, Jantra Phosri & Andri Reyr Ragnarsson
	</figcaption>
</figure>
<p>
	I was born in 1982 and raised in Reykjavik, Iceland.<br>
	Since 2014 I live in Stockholm, Sweden with my wonderful wife Jantra Phosri and daughter Soffía Rós Egilsdóttir.<br>
	I'm a proud bonus/step dad of Andri Reyr Ragnarsson who lives in Norway.<br>
</p>
<p>
	I'm son of Anton Angantýsson (that's what my last name literally means) and Halla Soffía Jónasdóttir and they live in Iceland.<br>
	I have a brother Jónas B. Antonsson and he also lives in Stockholm and he's (un)publishing games like a Boss at <a href="https://rawfury.com">Raw Fury</a>.<br>
</p>
<p>
	Our two older brothers Jónas Björgvin Antonsson and Egill Antonsson passed away before I was born.<br>
	They played music and painted pictures and according to family and friends were brilliant boys.<br>
	I've digitalized their music that they recorded on a cassette in the early 1970s, you can listen to it under the <a href="/music;by=4;track=0">Jónas & Egill seniors</a> section in my <a href="/music">music player.</a><br>
</p>
