<h1>Egill Antonsson</h1>
<h2>Software developer, music artist, weightlifter, earthling, stardust</h2>
<p>
Welcome to my website, where I share my passions:<br>
</p>
<ul class="list inline">
	<li><a href="/music">Music</a></li>
	<li><a href="/blog">Blogging</a> about software development,<br>
		my code projects are on <a href='https://github.com/EgillAntonsson'>GitHub</a></li>
	<li><a href="/lifting">Weight Lifting</a></li>
</ul>
<p>
My profession is Software Development, and I work as a Sound Programmer at <a href="https://www.resolutiongames.com">Resolution Games</a>.
My <a href="https://www.linkedin.com/in/egillantonsson">LinkedIn profile</a> sums up my work experience.
</p>
<h2>Background and Family</h2>
<figure>
<img src="../assets/images/home/Egill_Antonsson_and_family.jpg" alt="The family: Egill Antonsson, Soffía Rós Egilsdóttir, Jantra Phosri and Andri Reyr Ragnarsson" title="The family: Egill Antonsson, Soffía Rós Egilsdóttir, Jantra Phosri and Andri Reyr Ragnarsson" class="image">
<figcaption>
The Family, from left to right:<br>
Egill Antonsson, Soffía Rós Egilsdóttir, Jantra Phosri and Andri Reyr Ragnarsson
</figcaption>
</figure>
<p>
I was born in 1982 and raised in Reykjavik, Iceland. Since 2014 I live in Sweden with my wonderful wife Jantra Phosri, daughter Soffía Rós Egilsdóttir and son Andri Reyr Ragnarsson.<br>
</p>
<p>
I'm son of Anton Angantýsson (that's what my last name literally means) and Halla Soffía Jónasdóttir, and brother to Jónas B. Antonsson that works with (un)publishing games at <a href="https://rawfury.com">Raw Fury</a>.
</p>
<p>
Our two older brothers and namesakes passed away before I was born. They played music and painted pictures and according to family and friends were brilliant and beautiful boys. I digitalized their music that they recorded on a cassette in the early 1970s that you can listen to <a href="/music/pesi-year-1974">here</a>.
</p>
