<div class="playerContainer" (click)="onPlayPause()">
	<div class="playPauseContainer">
		<div [ngClass]="{play: !isPlaying, pause: isPlaying}"></div>
	</div>
	<span class="playerText">{{selectedTrack.name}}</span>
	<span class="timer playerText" [ngClass]="{fadein: isTrackReady}" *ngIf="isTrackReady">{{timeInSec | minutesSeconds }} / {{selectedTrack.durationInSec | minutesSeconds}}</span>
</div>
<div class="allByContainer">
	<div *ngFor="let byTracks of byTracksArr; let byIndex = index">
		<div class="byContainer" (click)="onByClick(byIndex)">
				<div class="byIconContainer">
						<div [ngClass]="{byIcon: true, animateClose: openedUiByIndex != byIndex, animateOpen: openedUiByIndex === byIndex}"></div>
					</div>
			<span>{{byTracks.by}}</span>
		</div>
		<div class="trackContainer fadein" *ngIf="openedUiByIndex === byIndex">
			<div [ngClass]="{track: track.name === selectedTrack.name}" *ngFor="let track of byTracks.tracks" (click)="onTrackClick(track)">
				{{track.name}}
			</div>
		</div>
	</div>
</div>
<div [ngClass]="{fadein: isTrackReady}" *ngIf="isTrackReady">
	<div class="artworkContainer">
		<img *ngIf="selectedTrack.artworkUrl" src="{{selectedTrack.artworkUrl}}" class="artworkImage">
	</div>
	<div class="buttonRow">
		<button class="button">
			<a *ngIf="selectedTrack.permalinkUrl" href="{{selectedTrack.permalinkUrl}}" target="_blank" rel="noopener" class="scLogo" title="These tracks on SoundCloud"></a>
		</button>
		<button *ngIf="selectedTrack.purchaseUrl" class="button" (click)="onBuyClick()">Buy
		</button>
	</div>
	<p class="trackDescription">
		<ng-container *ngFor="let line of getTrackDescriptionLines()">
			{{line}}<br>
		</ng-container>
	</p>
	<p class="byBio">
		<ng-container *ngFor="let line of getByBioLines()">
			{{line}}<br>
		</ng-container>
	</p>
</div>
