/* @import '@angular/material/prebuilt-themes/purple-green.css'; */

.canvas {
	width: 100%;
	height: 40px;
	border: 1px solid var(--colorGrayLight);
	border-radius: 0.3em;
}

.tribute {
	font-size: xx-small;
}

.button {
	float: right;
	width: 115px;
	height: 25px;
	border: 1px solid var(--colorGrayLight);
	border-radius: 1em;
	cursor: pointer;
	text-align: center;
	margin-top: 1.8em;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

@media screen and (max-width: 451px) {
}

@media screen and (min-width:  452px) and (max-width: 703px) {
	.muteInnerContainer {
		width: 75%;
		left: 35%;
	}
	.button {
		margin-right: 5%;
	}
	.canvas {
		margin-left: 5%;
		margin-right: 5%;
		width: 90%;
	}
	.gainOuterContainer {
		margin-left: 5%;
		margin-right: 5%;
		width: 90%;
	}
}

@media screen and (min-width: 704px) and (max-width: 1053px) {
	.muteInnerContainer {
		width: 60%;
		left: 40%;
	}
	.button {
		margin-right: 10%;
	}
	.canvas {
		margin-left: 10%;
		margin-right: 10%;
		width: 80%;
	}
	.gainOuterContainer {
		margin-left: 10%;
		margin-right: 10%;
		width: 80%;
	}
}

@media screen and (min-width: 1054px) and (max-width: 1403px) {
	.muteInnerContainer {
		width: 40%;
		left: 50%;
	}
	.button {
		margin-right: 15%;
	}
	.canvas {
		margin-left: 15%;
		margin-right: 15%;
		width: 70%;
	}
	.gainOuterContainer {
		margin-left: 15%;
		margin-right: 15%;
		width: 70%;
	}
}

@media screen and (min-width: 1404px) {
	.muteInnerContainer {
		width: 30%;
		left: 60%;
	}
	.button {
		margin-right: 20%;
	}
	.canvas {
		margin-left: 20%;
		margin-right: 20%;
		width: 60%;
	}
	.gainOuterContainer {
		margin-left: 20%;
		margin-right: 20%;
		width: 60%;
	}
}
