<h1>{{post.seriesTitle}}</h1>
<h2>{{post.title}}</h2>
<div class="byAndDate">
	<small>by Egill Antonsson<br>
		published on {{publishedDateToString}}<br>
	</small>
</div>
<p>
	These are my scripts for <a href="https://www.reaper.fm">REAPER</a> DAW (Digital Audio Workstation).
</p>
<h2>How to get my scripts in REAPER</h2>
<p>
	The best way to get the scripts is via the <a href="http://www.reapack.com">ReaPack</a> REAPER extension, the package manager for REAPER made by <a href="https://github.com/cfillion/">cfillion</a>..
</p>
<ol class="list inline">
	<li>Install <a href="https://reapack.com/user-guide#installation">ReaPack</a></li>
	<li>In REAPER click menu item <i>Extensions > ReaPack > Manage repositories...</i></li>
	<li>Click <i>Import/export... > Import repositories</i></li>
	<li>Insert as text: <a href="https://raw.githubusercontent.com/EgillAntonsson/REAPER-ReaScripts/refs/heads/master/index.xml">https://raw.githubusercontent.com/EgillAntonsson/REAPER-ReaScripts/refs/heads/master/index.xml</a></li>
</ol>
<figure>
	<img src="../assets/images/reapack-repos.png" title="Reapack repositories" alt="Reapack repositories" class="image">
	<figcaption>Reapack repositories, you should see <i>Antonsson Scripts</i> name in the list.</figcaption>
</figure>
<p>
	You easily make ReaPack check for updates and install them with menu item <i>Extensions > ReaPack > Synchronize packages</i>.<br>
	I recommend making sure that new packages are always installed by clicking <i>Options...</i> and checkmark <i>install new packages when synchronizing</i>.
</p>
<h2>How to use</h2>
<h3>The FX Plugins</h3>
<p>
	 Add it to a Track or Item by doing the <i>Add FX...</i> step on and search for the name of the FX, e.g. <i>Shipment Evaluator</i>. Play and be flabbergasted by the result. Below is the list, click for further info:
</p>
<ul class="list inline">
	<li><a href="./blog/rea-scripts/shipment-evaluator">-->> The Shipment Evaluator <<--</a></li>
</ul>
<h3>The Scripts</h3>
<p>
	Open the <i>Actions</i> window by pressing key '?' or via menu item <i>Actions > Show Action list...</i> and search for the script name, or <i>'antonsson_'</i> as they all have this prefix. Run it by double clicking and be flabbergasted by the result. Below is the list, click for further info:
</p>
<ul class="list inline">
	<li><a href="./blog/rea-scripts/rename-selected-tracks-from-clipboard-lines-of-format-oldname-newname">Rename selected tracks from clipboard lines of format 'oldName, newName'</a></li>
</ul>
<h2>The source code</h2>
<p>
	The source code is in <a href="https://github.com/EgillAntonsson/REAPER-ReaScripts/tree/master">REAPER-ReaScripts</a> GitHub repository, that I created from the <a href="https://github.com/cfillion/reapack-repository-template">Reapack repository template</a> by <a href="https://github.com/cfillion/">cfillion</a>. I also link to the specific code within each blog post, so you can easily find the code that corresponds to the Script or FX Plugin.
</p>
