<h1>{{post.seriesTitle}}</h1>
<h2>{{post.title}}</h2>
<div class="byAndDate">
	<small>by Egill Antonsson<br>
		published on {{publishedDateToString}}<br>
	</small>
</div>
<h2>Video showcasing this FX Plugin</h2>
<figure>
	<video controls width="640" height="360" class="image" title="Shipment Evaluator">
		<source src="../assets/videos/shipment-evaluator.mp4" type="video/mp4" alt="Shipment Evaluator">
		Your browser does not support the video tag.
	</video>
	<figcaption>Shipment Evaluator usage example</figcaption>
</figure>
<h2>Disclaimer</h2>
<p>
  Use this plugin is on your own risk as it provides a powerful encouragement to "SHIP IT !" immediatly, thus you need to be careful about when to use it (when making the above video I almost shipped the song too soon).<br>
  The evaluation result will always be "SHIP IT !" and no AI is used.<br>
  No Humans were harmed in the making of this production.<br>
  The plugin does no audio processing.
</p>
<p>
	Here is the <a href="https://github.com/EgillAntonsson/REAPER-ReaScripts/blob/master/Utility/antonsson_Shipment%20Evaluator.jsfx">source code</a>
</p>
