<h1>{{post.seriesTitle}}</h1>
<h2>{{post.title}}</h2>
<div class="byAndDate">
	<small>by Egill Antonsson<br>
		published on {{publishedDateToString}}<br>
	</small>
	<small *ngIf="hasUpdatedDate">
		updated on {{updatedDateToString}}
	</small>
</div>
<h2>The game balancing config</h2>
<p>
The thought came early (in <a href="./blog/tdd-health/part1">part 3</a>) that a game balance config for values like <code>StartingUnits</code>,<br>
would be valuable to have for balancing out during the development period.<br>
The config should be accessible and validate the values (ideally immediately when changed),<br>
and then later at runtime be injected to the <code>Health</code> instance.<br>
There are other values in <code>Health</code> that are suitable, thus the config will include:
</p>
<ul class="list inline">
	<li><code>StartingUnits</code></li>
	<li><code>PointsPerUnit</code></li>
	<li><code>MaxUnits</code></li>
	<li><code>MaxNegativeUnitsForInstantKillProtection</code></li>
</ul>

<h2>Using <code>ScriptableObject</code></h2>
<p>
Assuming that the game designer can do basic work in Unity and the version control system,<br>
we can keep the config solution completely within Unity.<br>
I'll thus base it on Unity's <a href="https://docs.unity3d.com/Manual/class-ScriptableObject.html">ScriptableObject</a>,<br>
a data container that can be used to save large amounts of data.<br>
I create folder <i>ScriptableObjects/</i> at <i>Assets/Scripts/Runtime/</i> and create script <code>GameConfig</code> within it.
</p>

<pre><code [highlight]="gameConfigCs"></code></pre>

<p>
I create another folder <i>ScriptableObjectsInstances/</i> at <i>Assets/</i><br>
and because of the code above I can now right click on the folder / click at <i>Assets</i> at top menu,<br>
and select menu item <i>Create > Avatar Health > Create GameConfig Instance</i>.<br>
As the name applies this creates a scriptable object instance based on the <code>GameConfig</code> class 'template'.<br>
I use the given default filename <code>GameConfigInstance</code> (file ends with <i>.asset</i>).
</p>

<figure>
<img src="../assets/images/blog/tdd/MenuItem_GameConfigInstance.png" alt="Create Game Config Instance via menu item" title="Create Game Config Instance via menu item" class="imageSmallText">
<figcaption>Create GameConfig Instance via menu item</figcaption>
</figure>

<p>
	I can now view and edit the <i>Game Config Instance</i> via the Inspector window.
</p>

<figure>
<img src="../assets/images/blog/tdd/Inspector_GameConfigInstance.png" alt="Game Config Instance via the Inspector window" title="Game Config Instance via the Inspector window" class="imageSmallText">
<figcaption>Game Config Instance via the Inspector window</figcaption>
</figure>

<p>
	I can change the values as I see fit and the change will be saved on the instance.<br>
	But there is no domain validation for the values, so I TDD cycle it.
</p>

<h2>TDD-ing the validation</h2>
<p>
	Unit testing logic in scriptable objects can quickly become complicated.<br>
	For this reason, and also for Reusability and Separation of Concern,<br>
	I will implement the generic validation logic in a utility class which will be easy to TDD.<br>
	Then I'll make the config process the validation using the utility logic.
</p>
<h3><span class="redFail">RED</span></h3>
<p>
	I create the folder <i>Utils</i> in the test folder<br>
	(<i>Assets/Scripts/Tests/EditMode/</i>) and create script <code>ValidationTest</code> within it.<br>
	I take into consideration the requirements for both the config<br>
	and the other validations that <code>Health</code> does, and then write the tests.

<pre><code [highlight]="redValidationTest"></code></pre>

<p>
I wrote tests for all meaningful cases based on the requirements in one step.<br>
The validation logic returns a tuple:
</p>
<pre><code [highlight]="validationReturn"></code></pre>
<p>
The using code should then decide what to do.
</p>

<h3><span class="greenPass">GREEN</span></h3>

<p>
I mirror the location of the test, thus create the folder <i>Utils</i> in the production code folder (<i>Assets/Scripts/Runtime/</i>) and create script <code>Validation</code> within it.<br>
I implement it gradually until I get all the tests passing.
</p>

<pre><code [highlight]="greenValidation"></code></pre>

<h2>Processing the validation in the config</h2>

<p>
I want to make sure the validation can't be bypassed<br>
thus I'll prevent the game designer from saving invalid values to the config,<br>
and provide some message in the Unity editor when an invalid value is corrected.
</p>

<pre><code [highlight]="hookValidationIntoConfig"></code></pre>

<p>
I use <code>OnValidate</code>, a editor-only function that Unity calls when the script is loaded or a value changes in the Inspector<br>
(part of the <a href="https://docs.unity3d.com/Manual/class-ScriptableObject.html">ScriptableObject</a>).
</p>

<h2>The validation at work</h2>

<figure>
<img src="../assets/images/blog/tdd/Unity_config-validation.gif" alt="Unity: Config Validation in the Inspector and Console" title="Unity: Config Validation in the Inspector and Console" class="imageSmallText">
<figcaption>Unity: Config Validation in the Inspector and Console</figcaption>
</figure>

<p>
 As the gif shows above, the logic accepts valid values (the first one)<br>
 but prevents invalid values being set by reverting to the valid 'edge' value, and logging a message to the Console.<br>
</p>
<ul class="list inline">
	<li>reverts to <code>1</code> for <code>StartingUnits</code></li>
	<li>reverts to <code>2</code> for <code>PointsPerUnit</code></li>
	<li>reverts to <code>-1</code> for <code>MaxNegativePointsForInstantKillProtection</code></li>
</ul>
<p>
	Below is the gif for the <code>MaxUnits</code> validation.
</p>

<figure>
<img src="../assets/images/blog/tdd/Unity_MaxUnits-validation.gif" alt="Unity: MaxUnits Validation in the Inspector and Console" title="Unity: MaxUnits Validation in the Inspector and Console" class="imageSmallText">
<figcaption>Unity: MaxUnits Validation in the Inspector and Console</figcaption>
</figure>

<p>
	<code>MaxUnits</code> validation is based on the values of <code>StartingUnits</code><br>
	thus <code>MaxUnits</code> can become invalid when <code>StartingUnits</code> is set to a valid value,<br>
	(as the latter half of the gif conveys).<br>
	The logged message in the Console clarifies this occurrence.
</p>

<h2>Make <code>Health</code> use the config</h2>

<p>
I want <code>Health</code> to use the config<br>
and not provide another way to inject those values,<br>
thus I don't need to validate those values again in <code>Health</code>.<br>
(I have ownership of the config code and<br>
I am confident that its validation will always work as expected).<br>
<br>
I will refactor the health code in the steps presented below.<br>
This is about a design change in the production code (wholistic refactoring),<br>
and it this case it makes more sense to start with the production code.
</p>

<h3><span class="greenRefactor">Refactor <code>Health</code></span></h3>

<pre><code [highlight]="healthRefactor"></code></pre>
<p>
I inject the <code>GameConfig</code> instance into the constructor,<br>
and store it in a member and then access the values from the member.<br>
The member is <code>private readonly</code> and thus encapsulated and immutable within the class.<br>
I remove the old <code>startingUnits</code> validation (as the config is already validated).<br>
</p>
<pre><code [highlight]="healthRefactor1"></code></pre>
<p>
I refactor these constants into read-only properties,<br>
getting the value from the config.<br>
This way the config values can't be set via the <code>Health</code> instance (encapsulation).
</p>

<h3><span class="greenRefactor">Refactor <code>HealthTest</code></span></h3>

<p>
	Now many tests will <span class="redFail">fail</span>,<br>
	mainly because they are not injecting the config into the constructor.<br>
	Let's refactor and fix them.
</p>
<pre><code [highlight]="healthTestRefactor"></code></pre>
<p>
I create these helper methods above.<br>
<br>
<code>MakeConfig</code> creates the config<br>
and sets the <code>startingUnits</code> via parameter.<br>
It also sets the other values for better <i>Resistance to refactoring</i><br>
(the tests will still work if the default values are changed in the scriptable object).<br>
<br>
<code>MakeHealth</code> creates and return a <code>Health</code> instance (using <code>MakeConfig</code>).<br>
<br>
For most tests it is sufficient to swap the <code>MakeHeath</code><br>
for the <code>new Health</code> construction, as shown below<br>
(one command execution with the IDE).
</p>
<pre><code [highlight]="healthTestRefactorMostCases"></code></pre>

<p>
There are 3 tests that refer to <code>maxUnits</code> to set up <code>StartingUnits</code> the the test.<br>
These tests use <code>MakeConfig</code> directly and then create the <code>Health</code> instance.<br>
</p>

<pre><code [highlight]="healthTestUseMakeConfig"></code></pre>
<p>
Now only test <code>ThrowsError_WhenStartingPointsIsInvalid</code> <span class="redFail"> fails</span>.<br>
I remove it as I'm no longer validating <code>StartingUnits</code> in <code>Health</code>.<br>
Now all the tests <span class="greenPass">pass</span> again.
</p>

<h2>Reuse the utility <code>Validation</code></h2>

<p>
	Since now I have a utility <code>Validation</code> class<br>
	I want to reuse it in the <code>Health</code> methods,<br>
	thus I refactor the <code>ValidatePoints</code> method:
</p>
<pre><code [highlight]="healthReuseValidation"></code></pre>

<p>Now the config has been added and used, the Unity Test Runner looks like this:</p>

<figure>
	<img src="../assets/images/blog/tdd/TestRunner_after-config-added.png" alt="Test Runner after config added and used" title="Test Runner after config added and used" class="imageSmallText">
	<figcaption>Test Runner after config added and used</figcaption>
</figure>
